@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: local('Harmonia Sans Pro Cyr'), local('HarmoniaSansProCyr-Regular'),
        url('HarmoniaSansProCyr-Regular.woff2') format('woff2'),
        url('HarmoniaSansProCyr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr Semi Bd';
    src: local('Harmonia Sans Pro Cyr Semi Bd'), local('HarmoniaSansProCyr-SemiBd'),
        url('HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
        url('HarmoniaSansProCyr-SemiBd.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: local('Harmonia Sans Pro Cyr Light'), local('HarmoniaSansProCyr-Light'),
        url('HarmoniaSansProCyr-Light.woff2') format('woff2'),
        url('HarmoniaSansProCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

