doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page(class="page--" + head.defaults.pageName)
        |%=symbols=%

        // START page wrapper
        div.page__wrapper
            // START page header
            div.page___header
                +header(head.defaults)
            // END page header

            // START page content
            div.page__content(id="content")
                div.page__container
                    // START page main
                    main.page__main(id="main", role="main")
                    // END page main

                    // START page sidebar
                    div.page__sidebar
                    // END page sidebar
            // END page content


            // START page footer
            +footer(data)
            // END page footer

        // END page wrapper

        // START page scripts
        +foot(data)
        // END page scripts
