doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/sidebar/sidebar.pug

    head
        +head(site.pages.index)
    body.page(class="page--" + site.pages.index.name)
        |%=symbols=%

        // START page wrapper
        div.page__wrapper

            // START page sidebar
            div.page__sidebar
                +sidebar-primary(site.pages.index, false)
            // END page sidebar

            // START page content
            div.page__content(id="content")
                div.page__header
                    +header(site.pages.index)
                div.page__container
                    // START page main
                    main.page__main(id="main", role="main")
                        div.filter.filter--app
                            div.filter__content
                                form.form.form--filter-app
                                    div.form__row
                                        div.form__col.form__col--os
                                            div.btn-group.btn-group--inline
                                                button.btn-group__item.btn.btn--outline.btn--short.is-active(role="button", type="button") All
                                                button.btn-group__item.btn.btn--outline.btn--short(role="button", type="button")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'apple', className: 'btn__icon btn__icon--apple'})
                                                button.btn-group__item.btn.btn--outline.btn--short(role="button", type="button")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'android', className: 'btn__icon btn__icon--android'})
                                        div.form__col
                                            div.form__group.form__group--inline
                                                div.form__label Данные обновлены в 10:53
                                                div.btn-group.btn-group--inline
                                                    button.btn-group__item.btn.btn--outline.btn--short.is-active(role="button", type="button")
                                                        != pugHelpers.Icon.call(locals, {iconName: 'refresh', className: 'btn__icon btn__icon--refresh'})
                                        div.form__col
                                            div.btn-group.btn-group--inline
                                                button.btn-group__item.btn.btn--outline.btn--short.is-active(role="button", type="button")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'grid', className: 'btn__icon btn__icon--grid'})
                                                button.btn-group__item.btn.btn--outline.btn--short(role="button", type="button")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'list', className: 'btn__icon btn__icon--list'})
                                        div.form__col
                                            div.form__group
                                                label.form__control.form__control--custom-select
                                                    span.form__label По:
                                                    span.form__value Избранное
                                                    select.form__raw
                                                        option(value="", selected) Избранное
                                                        option(value="") Все
                                                        option(value="") Наименованию
                                                        option(value="", selected) Избранное

                        div.app.app--teaser-card.app--grid
                            div.app__row.row
                                div.app__col.row__col
                                    div.app__card
                                        div.app__content
                                            div.app__header
                                                div.app__row.app__row--header.row
                                                    div.app__col.row__col
                                                        div.app__about
                                                            div.app__media.app__media--brand
                                                                div.app__meta.app__meta--platform
                                                                    != pugHelpers.Icon.call(locals, {iconName: 'apple', className: 'app__icon app__icon--platform'})
                                                                div.app__img
                                                                    img.app__img--file.ofi(src="%=static=%img/assets/app/logo-tinkoff.png",
                                                                        srcset="%=static=%assets/contacts/logo-tinkoff.png 1x, %=static=%img/assets/app/logo-tinkoff@2x.png 2x, %=static=%img/assets/app/logo-tinkoff@3x.png 3x",
                                                                        width="64px", height="64px", alt="")
                                                            div.app__text.app__text--header
                                                                b.app__title
                                                                    a.app__link.app__link--title(href="#", title="Tinkoff") Tinkoff
                                                                p
                                                                    a.app__link(href="#", title="Company studio") Company studio
                                                                    br
                                                                    a.app__link(href="#", title="Финансы") Финансы
                                                    div.app__col.row__col
                                                        div.app__statistics.app__statistics--main
                                                            div.statistics.statistics--big-value
                                                                div.statistics__row.row
                                                                    div.statistics__col.row__col
                                                                        div.statistics__content
                                                                            div.statistics__body
                                                                                div.statistics__value 391
                                                                                div.statistics__difference.statistics__difference--up 3
                                                                            div.statistics__text Категории
                                                                    div.statistics__col.row__col
                                                                        div.statistics__content
                                                                            div.statistics__body
                                                                                div.statistics__value 78
                                                                                div.statistics__difference.statistics__difference--down 9
                                                                            div.statistics__text Overall
                                            div.app__body
                                                div.app__statistics.app__statistics--text
                                                    div.statistics.statistics--list
                                                        div.statistics__content
                                                            div.statistics__body
                                                                div.statistics__list
                                                                    div.statistics__row.row
                                                                        div.statistics__col.row__col
                                                                            div.statistics__item
                                                                                div.statistics__label Обновлено
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") 15.03.2018
                                                                            div.statistics__item
                                                                                div.statistics__label Размер
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") 55 MB
                                                                            div.statistics__item
                                                                                div.statistics__label Цена
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") Free

                                                                        div.statistics__col.row__col
                                                                            div.statistics__item
                                                                                div.statistics__label In-App
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") Нет
                                                                            div.statistics__item
                                                                                div.statistics__label Инсталов
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") 2500
                                                                            div.statistics__item
                                                                                div.statistics__label Отзывы
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") 120
                                                            div.statistics__footer
                                                                div.statistics__list
                                                                    div.statistics__row.row
                                                                        div.statistics__col.row__col
                                                                            div.statistics__item
                                                                                div.statistics__label Keywords
                                                                                div.statistics__value
                                                                                    a.statistics__link.statistics__link--add(href="#", title="Добавить") Добавить

                                                                        div.statistics__col.row__col
                                                                            div.statistics__item
                                                                                div.statistics__label Рейтинг
                                                                                div.statistics__value
                                                                                    div.statistics__value-item
                                                                                        != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'statistics__icon statistics__icon--star icon'})
                                                                                        a.statistics__link(href="#", title="") 4,32
                                                                                    div.statistics__value-item
                                                                                        div.statistics__difference.statistics__difference--down
                                                                                            a.statistics__link(href="#", title="") 0,25
                                        div.app__action
                                            div.btn-group.btn-group--app-action
                                                button.btn-group__item.btn.btn--fill.btn--app-control.is-active(role="button", title="В избранное")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'btn__icon btn__icon--single btn__icon--star'})
                                                button.btn-group__item.btn.btn--fill.btn--app-control(role="button", title="Обновить")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'refresh', className: 'btn__icon btn__icon--single btn__icon--refresh'})
                                                button.btn-group__item.btn.btn--fill.btn--app-control(role="button", title="Смотреть статистику")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'statistic', className: 'btn__icon btn__icon--single btn__icon--statistic'})
                                                button.btn-group__item.btn.btn--fill.btn--app-control(role="button", title="Удалить")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'trash', className: 'btn__icon btn__icon--single btn__icon--trash'})
                                div.app__col.row__col
                                    div.app__card
                                        div.app__content
                                            div.app__meta.app__meta--store Недоступно в сторе
                                            div.app__header
                                                div.app__row.app__row--header.row
                                                    div.app__col.row__col
                                                        div.app__about
                                                            div.app__media.app__media--brand
                                                                div.app__meta.app__meta--platform
                                                                    != pugHelpers.Icon.call(locals, {iconName: 'android', className: 'app__icon app__icon--platform'})
                                                                div.app__img
                                                                    img.app__img--file.ofi(src="%=static=%img/assets/app/logo-meipai.png",
                                                                        srcset="%=static=%assets/contacts/logo-meipai.png 1x, %=static=%img/assets/app/logo-meipai@2x.png 2x, %=static=%img/assets/app/logo-meipai@3x.png 3x",
                                                                        width="64px", height="64px", alt="")
                                                            div.app__text.app__text--header
                                                                b.app__title
                                                                    a.app__link.app__link--title(href="#", title="meipai") meipai
                                                                p
                                                                    a.app__link(href="#", title="Company studio") Company studio
                                                                    br
                                                                    a.app__link(href="#", title="Финансы") Финансы
                                                    div.app__col.row__col
                                                        div.app__statistics.app__statistics--main
                                                            div.statistics.statistics--big-value
                                                                div.statistics__row.row
                                                                    div.statistics__col.row__col
                                                                        div.statistics__content
                                                                            div.statistics__body
                                                                                div.statistics__value 65
                                                                                div.statistics__difference.statistics__difference--up 3
                                                                            div.statistics__text Категории
                                                                    div.statistics__col.row__col
                                                                        div.statistics__content
                                                                            div.statistics__body
                                                                                div.statistics__value 78
                                                                                div.statistics__difference.statistics__difference--down 9
                                                                            div.statistics__text Overall
                                            div.app__body
                                                div.app__statistics.app__statistics--text
                                                    div.statistics.statistics--list
                                                        div.statistics__content
                                                            div.statistics__body
                                                                div.statistics__list
                                                                    div.statistics__row.row
                                                                        div.statistics__col.row__col
                                                                            div.statistics__item
                                                                                div.statistics__label Обновлено
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") 15.03.2018
                                                                            div.statistics__item
                                                                                div.statistics__label Размер
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") 55 MB
                                                                            div.statistics__item
                                                                                div.statistics__label Цена
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") Free

                                                                        div.statistics__col.row__col
                                                                            div.statistics__item
                                                                                div.statistics__label In-App
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") Нет
                                                                            div.statistics__item
                                                                                div.statistics__label Инсталов
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") 2500
                                                                            div.statistics__item
                                                                                div.statistics__label Отзывы
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") 120
                                                            div.statistics__footer
                                                                div.statistics__list
                                                                    div.statistics__row.row
                                                                        div.statistics__col.row__col
                                                                            div.statistics__item
                                                                                div.statistics__label Keywords
                                                                                div.statistics__value
                                                                                    div.statistics__value-item
                                                                                        div.statistics__difference.statistics__difference--up
                                                                                            a.statistics__link(href="#", title="") 3
                                                                                    div.statistics__value-item
                                                                                        div.statistics__difference.statistics__difference--down
                                                                                            a.statistics__link(href="#", title="") 14

                                                                        div.statistics__col.row__col
                                                                            div.statistics__item
                                                                                div.statistics__label Рейтинг
                                                                                div.statistics__value
                                                                                    div.statistics__value-item
                                                                                        != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'statistics__icon statistics__icon--star icon'})
                                                                                        a.statistics__link(href="#", title="") 4,32
                                                                                    div.statistics__value-item
                                                                                        div.statistics__difference.statistics__difference--down
                                                                                            a.statistics__link(href="#", title="") 0,25
                                        div.app__action
                                            div.btn-group.btn-group--app-action
                                                button.btn-group__item.btn.btn--fill.btn--app-control.is-active(role="button", title="В избранное")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'btn__icon btn__icon--single btn__icon--star'})
                                                button.btn-group__item.btn.btn--fill.btn--app-control(role="button", title="Обновить")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'refresh', className: 'btn__icon btn__icon--single btn__icon--refresh'})
                                                button.btn-group__item.btn.btn--fill.btn--app-control(role="button", title="Смотреть статистику")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'statistic', className: 'btn__icon btn__icon--single btn__icon--statistic'})
                                                button.btn-group__item.btn.btn--fill.btn--app-control(role="button", title="Удалить")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'trash', className: 'btn__icon btn__icon--single btn__icon--trash'})
                                div.app__col.row__col
                                    div.app__card
                                        div.app__content
                                            div.app__header
                                                div.app__row.app__row--header.row
                                                    div.app__col.row__col
                                                        div.app__about
                                                            div.app__media.app__media--brand
                                                                div.app__meta.app__meta--platform
                                                                    != pugHelpers.Icon.call(locals, {iconName: 'apple', className: 'app__icon app__icon--platform'})
                                                                div.app__img
                                                                    img.app__img--file.ofi(src="%=static=%img/assets/app/logo-tinkoff.png",
                                                                        srcset="%=static=%assets/contacts/logo-tinkoff.png 1x, %=static=%img/assets/app/logo-tinkoff@2x.png 2x, %=static=%img/assets/app/logo-tinkoff@3x.png 3x",
                                                                        width="64px", height="64px", alt="")
                                                            div.app__text.app__text--header
                                                                b.app__title
                                                                    a.app__link.app__link--title(href="#", title="Tinkoff") Tinkoff
                                                                p
                                                                    a.app__link(href="#", title="Company studio") Company studio
                                                                    br
                                                                    a.app__link(href="#", title="Финансы") Финансы
                                                    div.app__col.row__col
                                                        div.app__statistics.app__statistics--main
                                                            div.statistics.statistics--big-value
                                                                div.statistics__row.row
                                                                    div.statistics__col.row__col
                                                                        div.statistics__content
                                                                            div.statistics__body
                                                                                div.statistics__value.statistics__value--empty
                                                                            div.statistics__text Категории
                                                                    div.statistics__col.row__col
                                                                        div.statistics__content
                                                                            div.statistics__body
                                                                                div.statistics__value 78
                                                                                div.statistics__difference.statistics__difference--down 9
                                                                            div.statistics__text Overall
                                            div.app__body
                                                div.app__statistics.app__statistics--text
                                                    div.statistics.statistics--list
                                                        div.statistics__content
                                                            div.statistics__body
                                                                div.statistics__list
                                                                    div.statistics__row.row
                                                                        div.statistics__col.row__col
                                                                            div.statistics__item
                                                                                div.statistics__label Обновлено
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") 15.03.2018
                                                                            div.statistics__item
                                                                                div.statistics__label Размер
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") 55 MB
                                                                            div.statistics__item
                                                                                div.statistics__label Цена
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") Free

                                                                        div.statistics__col.row__col
                                                                            div.statistics__item
                                                                                div.statistics__label In-App
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") Нет
                                                                            div.statistics__item
                                                                                div.statistics__label Инсталов
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") 2500
                                                                            div.statistics__item
                                                                                div.statistics__label Отзывы
                                                                                div.statistics__value
                                                                                    a.statistics__link(href="#", title="") 120
                                                            div.statistics__footer
                                                                div.statistics__list
                                                                    div.statistics__row.row
                                                                        div.statistics__col.row__col
                                                                            div.statistics__item
                                                                                div.statistics__label Keywords
                                                                                div.statistics__value
                                                                                    a.statistics__link.statistics__link--add(href="#", title="Добавить") Добавить

                                                                        div.statistics__col.row__col
                                                                            div.statistics__item
                                                                                div.statistics__label Рейтинг
                                                                                div.statistics__value
                                                                                    div.statistics__value-item
                                                                                        != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'statistics__icon statistics__icon--star icon'})
                                                                                        a.statistics__link(href="#", title="") 4,32
                                                                                    div.statistics__value-item
                                                                                        div.statistics__difference.statistics__difference--down
                                                                                            a.statistics__link(href="#", title="") 0,25
                                        div.app__action
                                            div.btn-group.btn-group--app-action
                                                button.btn-group__item.btn.btn--fill.btn--app-control.is-active(role="button", title="В избранное")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'btn__icon btn__icon--single btn__icon--star'})
                                                button.btn-group__item.btn.btn--fill.btn--app-control(role="button", title="Обновить")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'refresh', className: 'btn__icon btn__icon--single btn__icon--refresh'})
                                                button.btn-group__item.btn.btn--fill.btn--app-control(role="button", title="Смотреть статистику")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'statistic', className: 'btn__icon btn__icon--single btn__icon--statistic'})
                                                button.btn-group__item.btn.btn--fill.btn--app-control(role="button", title="Удалить")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'trash', className: 'btn__icon btn__icon--single btn__icon--trash'})
                                div.app__col.row__col
                                    div.app__card
                                            div.app__content
                                                div.app__header
                                                    div.app__row.app__row--header.row
                                                        div.app__col.row__col
                                                            div.app__about
                                                                div.app__media.app__media--brand
                                                                    div.app__meta.app__meta--platform
                                                                        != pugHelpers.Icon.call(locals, {iconName: 'apple', className: 'app__icon app__icon--platform'})
                                                                    div.app__img
                                                                        img.app__img--file.ofi(src="%=static=%img/assets/app/logo-tinkoff.png",
                                                                            srcset="%=static=%assets/contacts/logo-tinkoff.png 1x, %=static=%img/assets/app/logo-tinkoff@2x.png 2x, %=static=%img/assets/app/logo-tinkoff@3x.png 3x",
                                                                            width="64px", height="64px", alt="")
                                                                div.app__text.app__text--header
                                                                    b.app__title
                                                                        a.app__link.app__link--title(href="#", title="Tinkoff") Tinkoff
                                                                    p
                                                                        a.app__link(href="#", title="Company studio") Company studio
                                                                        br
                                                                        a.app__link(href="#", title="Финансы") Финансы
                                                        div.app__col.row__col
                                                            div.app__statistics.app__statistics--main
                                                                div.statistics.statistics--big-value
                                                                    div.statistics__row.row
                                                                        div.statistics__col.row__col
                                                                            div.statistics__content
                                                                                div.statistics__body
                                                                                    div.statistics__value 391
                                                                                    div.statistics__difference.statistics__difference--up 3
                                                                                div.statistics__text Категории
                                                                        div.statistics__col.row__col
                                                                            div.statistics__content
                                                                                div.statistics__body
                                                                                    div.statistics__value 78
                                                                                    div.statistics__difference.statistics__difference--down 9
                                                                                div.statistics__text Overall
                                                div.app__body
                                                    div.app__statistics.app__statistics--text
                                                        div.statistics.statistics--list
                                                            div.statistics__content
                                                                div.statistics__body
                                                                    div.statistics__list
                                                                        div.statistics__row.row
                                                                            div.statistics__col.row__col
                                                                                div.statistics__item
                                                                                    div.statistics__label Обновлено
                                                                                    div.statistics__value
                                                                                        a.statistics__link(href="#", title="") 15.03.2018
                                                                                div.statistics__item
                                                                                    div.statistics__label Размер
                                                                                    div.statistics__value
                                                                                        a.statistics__link(href="#", title="") 55 MB
                                                                                div.statistics__item
                                                                                    div.statistics__label Цена
                                                                                    div.statistics__value
                                                                                        a.statistics__link(href="#", title="") Free

                                                                            div.statistics__col.row__col
                                                                                div.statistics__item
                                                                                    div.statistics__label In-App
                                                                                    div.statistics__value
                                                                                        a.statistics__link(href="#", title="") Нет
                                                                                div.statistics__item
                                                                                    div.statistics__label Инсталов
                                                                                    div.statistics__value
                                                                                        a.statistics__link(href="#", title="") 2500
                                                                                div.statistics__item
                                                                                    div.statistics__label Отзывы
                                                                                    div.statistics__value
                                                                                        a.statistics__link(href="#", title="") 120
                                                                div.statistics__footer
                                                                    div.statistics__list
                                                                        div.statistics__row.row
                                                                            div.statistics__col.row__col
                                                                                div.statistics__item
                                                                                    div.statistics__label Keywords
                                                                                    div.statistics__value
                                                                                        a.statistics__link.statistics__link--add(href="#", title="Добавить") Добавить

                                                                            div.statistics__col.row__col
                                                                                div.statistics__item
                                                                                    div.statistics__label Рейтинг
                                                                                    div.statistics__value
                                                                                        div.statistics__value-item
                                                                                            != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'statistics__icon statistics__icon--star icon'})
                                                                                            a.statistics__link(href="#", title="") 4,32
                                                                                        div.statistics__value-item
                                                                                            div.statistics__difference.statistics__difference--down
                                                                                                a.statistics__link(href="#", title="") 0,25
                                            div.app__action
                                                div.btn-group.btn-group--app-action
                                                    button.btn-group__item.btn.btn--fill.btn--app-control.is-active(role="button", title="В избранное")
                                                        != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'btn__icon btn__icon--single btn__icon--star'})
                                                    button.btn-group__item.btn.btn--fill.btn--app-control(role="button", title="Обновить")
                                                        != pugHelpers.Icon.call(locals, {iconName: 'refresh', className: 'btn__icon btn__icon--single btn__icon--refresh'})
                                                    button.btn-group__item.btn.btn--fill.btn--app-control(role="button", title="Смотреть статистику")
                                                        != pugHelpers.Icon.call(locals, {iconName: 'statistic', className: 'btn__icon btn__icon--single btn__icon--statistic'})
                                                    button.btn-group__item.btn.btn--fill.btn--app-control(role="button", title="Удалить")
                                                        != pugHelpers.Icon.call(locals, {iconName: 'trash', className: 'btn__icon btn__icon--single btn__icon--trash'})
                                div.app__col.row__col
                                    div.app__card.app__card--app-form
                                        div.app__content
                                            div.app__body
                                                b.app__title Добавить приложение
                                                div.app__text
                                                    p Введите название приложения или вставьте ссылку на него из AppStore или GooglePlay
                                            div.app__divider
                                            div.app__form
                                                form.form.form--app-add(action="")
                                                    div.form__row
                                                        div.form__col
                                                            div.form__group
                                                                input.form__control(type="text", placeholder="Название или ссылка…")
                                                        div.form__col
                                                            div.form__action
                                                                button.btn.btn--primary(role="button", type="submit", title="Добавить приложегние") Добавить
                    // END page main

                // START page footer
                div.page__footer
                    +footer(site.pages.index)
                // END page footer
            // END page content

        // END page wrapper

        // START page scripts
        +foot(data)
        // END page scripts
