doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/sidebar/sidebar.pug

    head
        +head(site.pages.balance)
    body.page(class="page--" + site.pages.balance.name)
        |%=symbols=%

        // START page wrapper
        div.page__wrapper

            // START page sidebar
            div.page__sidebar
                +sidebar-primary(site.pages.balance, false)
            // END page sidebar

            // START page content
            div.page__content(id="content")
                div.page__header
                    +header(site.pages.profile)
                div.page__container
                    // START page main
                    main.page__main(id="main", role="main")
                        div.balance.card.card--lg
                            div.balance__content.card__content
                                div.balance__body.card__body.card__body--block
                                    div.form.form--balance
                                        fieldset.form__fieldset
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3
                                                    div.card__header
                                                        b.card__title Способ пополнения
                                                        div.card__text
                                                            p Выберите один из доступных способо оплаты

                                                div.card__col.row__col.col-lg-6
                                                    div.form__row.row
                                                        div.form__col.row__col.col-sm-6
                                                            div.form__group
                                                                div.form__check.form__check--button.form__check--balance
                                                                    input.form__raw(id="balancePayment01", type="radio", vale="", name="balancePayment", checked)
                                                                    label.form__label(for="balancePayment01")
                                                                        div.form__control
                                                                            div.form__media
                                                                                != pugHelpers.Icon.call(locals, {iconName: 'card', className: 'form__icon icon icon--card'})
                                                                        div.form__text Банковская карта
                                                        div.form__col.row__col.col-sm-6
                                                            div.form__group
                                                                div.form__check.form__check--button.form__check--balance
                                                                    input.form__raw(id="balancePayment02", type="radio", vale="", name="balancePayment")
                                                                    label.form__label(for="balancePayment02")
                                                                        div.form__control
                                                                            div.form__media
                                                                                div.form__img
                                                                                    include ../static/img/general/yandex-pay-logo.svg
                                                                        div.form__text Яндекс.Деньги
                                                        div.form__col.row__col.col-sm-6
                                                            div.form__group
                                                                div.form__check.form__check--button.form__check--balance
                                                                    input.form__raw(id="balancePayment03", type="radio", vale="", name="balancePayment")
                                                                    label.form__label(for="balancePayment03")
                                                                        div.form__control
                                                                            div.form__media
                                                                                div.form__img
                                                                                    include ../static/img/general/qiwi-pay-logo.svg
                                                                        div.form__text QIWI Wallet
                                                        div.form__col.row__col.col-sm-6
                                                            div.form__group
                                                                div.form__check.form__check--button.form__check--balance
                                                                    input.form__raw(id="balancePayment04", type="radio", vale="", name="balancePayment")
                                                                    label.form__label(for="balancePayment04")
                                                                        div.form__control
                                                                            div.form__media
                                                                                div.form__img
                                                                                    include ../static/img/general/webmoney-pay-logo.svg
                                                                        div.form__text WebMoney
                                                        div.form__col.row__col.col-sm-6
                                                            div.form__group
                                                                div.form__check.form__check--button.form__check--balance
                                                                    input.form__raw(id="balancePayment05", type="radio", vale="", name="balancePayment")
                                                                    label.form__label(for="balancePayment05")
                                                                        div.form__control
                                                                            div.form__media
                                                                                != pugHelpers.Icon.call(locals, {iconName: 'cashless-payments', className: 'form__icon icon icon--cashless-payments'})
                                                                        div.form__text Безналичный расчет
                                                        div.form__col.row__col.col-sm-6
                                                            div.form__group
                                                                div.form__check.form__check--button.form__check--balance
                                                                    input.form__raw(id="balancePayment06", type="radio", vale="", name="balancePayment")
                                                                    label.form__label(for="balancePayment06")
                                                                        div.form__control
                                                                            div.form__media
                                                                                != pugHelpers.Icon.call(locals, {iconName: 'coupon', className: 'form__icon icon icon--coupon'})
                                                                        div.form__text Купон
                                        fieldset.form__fieldset
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3
                                                    div.card__header
                                                        b.card__title Сумма пополнения
                                                        div.card__text
                                                            p Минимальная сумма пополнения 500 рублей
                                                div.card__col.row__col.col-lg-6
                                                    div.form__group
                                                        label.form__label(for="") Сумма пополнения (руб)
                                                        input.form__control(type="text", value="500")
                                                    div.card__footer
                                                        div.form__action
                                                            button.btn.btn--secondary(role="button", type="button", title="Пополнить") Пополнить

                        div.balance.balance--history.card.card--lg
                            div.balance__content.card__content
                                div.balance__body.card__body.card__body--block
                                    div.card__header
                                        b.card__title История операций
                                        div.form__card
                                            div.form.form--filter-history
                                                div.form__row
                                                    div.form__col.col.order-md-1
                                                        div.form__group.d-md-none
                                                            label.form__control.form__control--custom-select
                                                                div.form__item
                                                                    span.form__value Вчера
                                                        div.btn-group.btn-group--inline.d-none.d-md-flex
                                                            button.btn-group__item.btn.btn--secondary-outline.is-active(role="button", title="Вчера") Вчера
                                                            button.btn-group__item.btn.btn--secondary-outline(role="button", title="Сегодня") Сегодня
                                                            button.btn-group__item.btn.btn--secondary-outline(role="button", title="Неделя") Неделя
                                                            button.btn-group__item.btn.btn--secondary-outline(role="button", title="Период") Период
                                                    div.form__col.order-md-3
                                                        div.form__group
                                                            label.form__control.form__control--custom-select
                                                                div.form__item
                                                                    span.form__label C:
                                                                    span.form__value 27 Мар 2018
                                                                div.form__item
                                                                    span.form__label По:
                                                                    span.form__value 27 Мар 2018
                                                    div.form__col.order-md-2
                                                        a.btn.btn--secondary-outline(role="button", title="Скачать .CSV", download) Скачать .CSV

                                    table.table.table--responsive-sm.table--striped
                                        thead.table__head
                                            tr.table__row.text.text--nowrap
                                                th.table__col Дата
                                                th.table__col Тип операции
                                                th.table__col Комментарии
                                                th.table__col Сумма
                                        tbody.table__body
                                            tr.table__row
                                                td.table__col 12.03.2018, 17:15
                                                td.table__col Пополнение
                                                td.table__col Зачисление по счету 145890
                                                td.table__col
                                                    span.text.text--danger.text--nowrap - 110 000
                                            - n = 0;
                                            while n < 5
                                                tr.table__row
                                                    td.table__col 12.03.2018, 17:15
                                                    td.table__col Пополнение
                                                    td.table__col Зачисление по счету 145890
                                                    td.table__col
                                                        span.text.text--success.text--nowrap -10 000
                                                - n++;
                                    div.card__pagination
                                        ul.pagination
                                            li.pagination__item.is-active
                                                a.pagination__link(href="#", title="1") 1
                                            li.pagination__item
                                                a.pagination__link(href="#", title="2") 2
                                            li.pagination__item
                                                a.pagination__link(href="#", title="3") 3
                                            li.pagination__item
                                                a.pagination__link(href="#", title="4") 4
                                            li.pagination__item
                                                a.pagination__link(href="#", title="5") 5
                                            li.pagination__item
                                                a.pagination__link(href="#", title="10") 10

                    // END page main

                // START page footer
                div.page__footer
                    +footer(site.pages.balance)
                // END page footer
            // END page content

        // END page wrapper

        // START page scripts
        +foot(data)
        // END page scripts
