doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/sidebar/sidebar.pug

    head
        +head(site.pages.order1)
    body.page(class="page--" + site.pages.order1.name)
        |%=symbols=%

        // START page wrapper
        div.page__wrapper

            // START page sidebar
            div.page__sidebar
                +sidebar-primary(site.pages.order1, false)
            // END page sidebar

            // START page content
            div.page__content(id="content")
                div.page__header
                    +header(site.pages.order1)
                div.page__container

                    // START page main
                    main.page__main(id="main", role="main")
                        div.order.card.card--lg
                            div.order__content.card__content
                                div.order__body.card__body.card__body--block
                                    div.order__form.form.form--order
                                        fieldset.form__fieldset
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3
                                                    div.card__header
                                                        b.card__title Выбор приложения
                                                        div.card__text
                                                            p Выберите один из доступных способо оплаты
                                                div.card__col.row__col.col-lg-6
                                                    div.form__group
                                                        label.form__label(for="") Выберите приложение
                                                        label.form__control.form__control--custom-select
                                                            div.form__value
                                                                != pugHelpers.Icon.call(locals, {iconName: 'tinkoff', className: 'form__icon form__icon--tinkoff icon icon--logo'})
                                                                != pugHelpers.Icon.call(locals, {iconName: 'apple', className: 'form__icon form__icon--apple icon icon--apple'})
                                                                | Tinkoff
                                                    div.form__row.row
                                                        div.form__col.row__col.col-sm-6.col-lg-5
                                                            div.form__group
                                                                div.form__check.form__check--radio
                                                                    input.form__raw(id="radio01", type="radio", vale="", name="radio")
                                                                    label.form__label(for="radio01") iPhone/iPad
                                                        div.form__col.row__col.col-sm-6.col-lg-7
                                                            div.form__group
                                                                div.form__check.form__check--radio
                                                                    input.form__raw(id="radio02", type="radio", vale="", name="radio", checked)
                                                                    label.form__label(for="radio02") iPad
                                        fieldset.form__fieldset
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3
                                                    div.card__header
                                                        b.card__title Название кампании
                                                        div.card__text
                                                            p Выберите один из доступных способо оплаты
                                                div.card__col.row__col.col-lg-6
                                                    div.form__group
                                                        label.form__label(for="") Название
                                                        input.form__control(type="text", value="Tinkoff банк отзывы")
                                        fieldset.form__fieldset
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3
                                                    div.card__header
                                                        b.card__title Кол-во отзывов
                                                        div.card__text
                                                            p Выберите один из доступных способо оплаты
                                                div.card__col.row__col.col-lg-6
                                                    div.form__row.row
                                                        div.form__col.row__col.col-sm-5.col-lg-9.flex.align-items-end
                                                            div.form__group
                                                                div.form__slider(id="formSlider")

                                                        div.form__col.row__col.col-sm-5.col-lg-3
                                                            div.form__group
                                                                label.form__label(for="") Кол-во
                                                                input.form__control(type="text", value="300")

                                                    div.form__row.row
                                                        div.form__col.row__col.col-sm-5.col-lg-9
                                                            div.form__label.form__label--col
                                                                | Из них с оценкой 4
                                                                != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'form__icon form__icon--text icon icon-star'})
                                                        div.form__col.row__col.col-sm-5.col-lg-3
                                                            div.form__group
                                                                input.form__control(type="text", value="100")

                                                    div.form__row.row
                                                        div.form__col.row__col.col-sm-5.col-lg-9
                                                            div.form__label.form__label--col
                                                                | Из них с оценкой 5
                                                                != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'form__icon form__icon--text icon icon-star'})
                                                        div.form__col.row__col.col-sm-5.col-lg-3
                                                            div.form__group
                                                                input.form__control(type="text", value="200")
                                        fieldset.form__fieldset
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3
                                                    div.card__header
                                                        b.card__title Дневные лимиты
                                                        div.card__text
                                                            p Выберите один из доступных способо оплаты
                                                div.card__col.row__col.col-lg-6
                                                    div.form__row.row
                                                        div.form__col.row__col.col-sm-6.col-lg-5
                                                            div.form__group
                                                                div.form__check.form__check--radio
                                                                    input.form__raw(id="radio03", type="radio", vale="", name="radio3",checked)
                                                                    label.form__label(for="radio03") Кастомное
                                                        div.form__col.row__col.col-sm-6.col-lg-7
                                                            div.form__group
                                                                div.form__check.form__check--radio
                                                                    input.form__raw(id="radio04", type="radio", vale="", name="radio3")
                                                                    label.form__label(for="radio04") Равномерное
                                                    div.form__row.row
                                                        div.form__col.row__col.col-sm-4.col-lg-5
                                                            div.form__group
                                                                label.form__label Дата
                                                                div(id="datePicker")
                                                        div.form__col.row__col.col-sm-4.col-lg-3
                                                            div.form__group
                                                                label.form__label Кол-во
                                                                input.form__control(type="text", value="300")
                                                        div.form__col.row__col.col-sm-5.col-lg-auto.flex.align-items-end
                                                            button.btn.btn--icon.btn--link(role="button", title="Удалить")
                                                                != pugHelpers.Icon.call(locals, {iconName: 'trash', className: 'btn__icon icon icon-trash'})
                                                            button.btn.btn--icon.btn--link(role="button", title="Копировать")
                                                                != pugHelpers.Icon.call(locals, {iconName: 'copy', className: 'btn__icon icon icon-copy'})
                                                    button.btn.btn--outline-secondary(role="button", title='Добавить') Добавить

                                        fieldset.form__fieldset
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3
                                                    div.card__header
                                                        b.card__title Тексты отзывов
                                                        div.card__text
                                                            p Выберите один из доступных способо оплаты
                                                div.card__col.row__col.col-lg-6
                                                    div.form__group
                                                        label.form__label(for="") Использовать свои тексты
                                                        div.form__check.form__check--switch
                                                            input.form__raw(id="switch", type="checkbox", vale="", name="switch", checked)
                                                            label.form__label(for="switch")
                                                    div.form__group
                                                        div.form__row.row
                                                            div.form__col.row__col.col-auto
                                                                button.btn.btn--outline(role="button", title="Загрузить") Загрузить
                                                            div.form__col.row__col.col-auto.align-self-center
                                                                span.form__label Загрузите csv-файл размером до 10 mb.
                                        div.order__calc
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3.offset-lg-9
                                                    div.order__calc-wrap
                                                        div.card.card--calc
                                                            div.card__content
                                                                div.card__header
                                                                    b.card__title Бюджет кампании
                                                                    != pugHelpers.Icon.call(locals, {iconName: 'cheron-light', className: 'card__icon icon icon--cheron-light icon--top'})
                                                                div.card__body.collapse.is-show
                                                                    div.card__text
                                                                        div.card__row.row
                                                                            div.card__col.col Стоимость установки
                                                                            div.card__col.col-auto +6
                                                                                != pugHelpers.Icon.call(locals, {iconName: 'ruble', className: 'icon icon--ruble'})
                                                                        div.card__row.row
                                                                            div.card__col.col Установки из поиска
                                                                            div.card__col.col-auto 0
                                                                                != pugHelpers.Icon.call(locals, {iconName: 'ruble', className: 'icon icon--ruble'})
                                                                        div.card__row.row
                                                                            div.card__col.col Запуск на 1-день
                                                                            div.card__col.col-auto 0
                                                                                != pugHelpers.Icon.call(locals, {iconName: 'ruble', className: 'icon icon--ruble'})
                                                                        div.card__row.row
                                                                            div.card__col.col Запуск на 2-день
                                                                            div.card__col.col-auto +2
                                                                                != pugHelpers.Icon.call(locals, {iconName: 'ruble', className: 'icon icon--ruble'})
                                                                        div.card__row.row
                                                                            div.card__col.col Запуск на 3-день
                                                                            div.card__col.col-auto +2
                                                                                != pugHelpers.Icon.call(locals, {iconName: 'ruble', className: 'icon icon--ruble'})
                                                                        div.card__row.row.text.text--weight-bold.text--primary
                                                                            div.card__col.col Итого
                                                                            div.card__col.col-auto +10
                                                                                != pugHelpers.Icon.call(locals, {iconName: 'ruble', className: 'icon icon--ruble'})
                                                                div.card__footer
                                                                        div.card__row.row.text.text--weight-bold.text--primary
                                                                            div.card__col.col Открытия на 31 день
                                                                            div.card__col.col-auto 733
                                                                                != pugHelpers.Icon.call(locals, {iconName: 'ruble', className: 'icon icon--ruble'})
                                    div.order__footer.card__footer
                                        div.form__action
                                            button.btn.btn--primary.btn--block(role="button", title="Отправить на модерацию") Отправить на модерацию
                    // END page main

                // START page footer
                div.page__footer
                    +footer(site.pages.order1)
                // END page footer
            // END page content

        // END page wrapper

        // START page scripts
        +foot(data)
        // END page scripts
