doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/sidebar/sidebar.pug

    head
        +head(site.pages.order3)
    body.page(class="page--" + site.pages.order3.name)
        |%=symbols=%

        // START page wrapper
        div.page__wrapper

            // START page sidebar
            div.page__sidebar
                +sidebar-primary(site.pages.order3, false)
            // END page sidebar

            // START page content
            div.page__content(id="content")
                div.page__header
                    +header(site.pages.order3)
                div.page__container

                    // START page main
                    main.page__main(id="main", role="main")
                        div.order.card.card--lg
                            div.order__content.card__content
                                div.order__body.card__body.card__body--block
                                    div.order__form.form.form--order
                                        fieldset.form__fieldset
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3
                                                    div.card__header
                                                        b.card__title Выбор приложения
                                                        div.card__text
                                                            p Выберите один из доступных способо оплаты
                                                div.card__col.row__col.col-lg-6
                                                    div.form__group
                                                        label.form__label(for="") Выберите приложение
                                                        label.form__control.form__control--custom-select
                                                            div.form__value
                                                                != pugHelpers.Icon.call(locals, {iconName: 'tinkoff', className: 'form__icon form__icon--tinkoff icon icon--logo'})
                                                                != pugHelpers.Icon.call(locals, {iconName: 'apple', className: 'form__icon form__icon--apple icon icon--apple'})
                                                                | Tinkoff
                                                    div.form__row.row
                                                        div.form__col.row__col.col-sm-6.col-lg-5
                                                            div.form__group
                                                                div.form__check.form__check--radio
                                                                    input.form__raw(id="radio01", type="radio", vale="", name="radio")
                                                                    label.form__label(for="radio01") iPhone/iPad
                                                        div.form__col.row__col.col-sm-6.col-lg-7
                                                            div.form__group
                                                                div.form__check.form__check--radio
                                                                    input.form__raw(id="radio02", type="radio", vale="", name="radio", checked)
                                                                    label.form__label(for="radio02") iPad
                                        fieldset.form__fieldset
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3
                                                    div.card__header
                                                        b.card__title Каналы
                                                        div.card__text
                                                            p Выберите один из доступных способо оплаты
                                                div.card__col.row__col.col-lg-6
                                                    div.form__row.row
                                                        div.form__col.row__col.col-sm-6.col-lg-5
                                                            div.form__group
                                                                div.form__check
                                                                    input.form__raw(id="check01", type="checkbox", vale="", name="check", checked)
                                                                    label.form__label(for="check01") Google Adwords
                                                        div.form__col.row__col.col-sm-6.col-lg-7
                                                            div.form__group
                                                                div.form__check
                                                                    input.form__raw(id="check02", type="checkbox", vale="", name="check")
                                                                    label.form__label(for="check02") Яндекс Директ
                                                        div.form__col.row__col.col-sm-6.col-lg-5
                                                            div.form__group
                                                                div.form__check
                                                                    input.form__raw(id="check03", type="checkbox", vale="", name="check")
                                                                    label.form__label(for="check03") Facebook
                                                        div.form__col.row__col.col-sm-6.col-lg-7
                                                            div.form__group
                                                                div.form__check
                                                                    input.form__raw(id="check04", type="checkbox", vale="", name="check")
                                                                    label.form__label(for="check04") Паблик в соцсетях
                                                        div.form__col.row__col.col-sm-6.col-lg-5
                                                            div.form__group
                                                                div.form__check
                                                                    input.form__raw(id="check05", type="checkbox", vale="", name="check")
                                                                    label.form__label(for="check05") My Target
                                                        div.form__col.row__col.col-sm-6.col-lg-7
                                                            div.form__group
                                                                div.form__check
                                                                    input.form__raw(id="check06", type="checkbox", vale="", name="check")
                                                                    label.form__label(for="check06") In App
                                        fieldset.form__fieldset
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3
                                                    div.card__header
                                                        b.card__title Трекинговая система
                                                        div.card__text
                                                            p Выберите один из доступных способо оплаты
                                                div.card__col.row__col.col-lg-6
                                                    div.form__group
                                                        label.form__label(for="") Включить трекинговую систему
                                                        div.form__check.form__check--switch
                                                            input.form__raw(id="switch2", type="checkbox", vale="", name="switch2", checked)
                                                            label.form__label(for="switch2")
                                                    div.form__group
                                                        label.form__label(for="") Категория
                                                        label.form__control.form__control--custom-select
                                                            div.form__value
                                                                | AppMetrica
                                    div.order__footer.card__footer
                                        div.form__action
                                            button.btn.btn--primary.btn--block(role="button", title="Отправить на модерацию") Отправить на модерацию
                    // END page main

                // START page footer
                div.page__footer
                    +footer(site.pages.order3)
                // END page footer
            // END page content

        // END page wrapper

        // START page scripts
        +foot(data)
        // END page scripts
