doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/sidebar/sidebar.pug

    head
        +head(site.pages.order2)
    body.page(class="page--" + site.pages.order2.name)
        |%=symbols=%

        // START page wrapper
        div.page__wrapper

            // START page sidebar
            div.page__sidebar
                +sidebar-primary(site.pages.order2, false)
            // END page sidebar

            // START page content
            div.page__content(id="content")
                div.page__header
                    +header(site.pages.order2)
                div.page__container

                    // START page main
                    main.page__main(id="main", role="main")
                        div.order.card.card--lg
                            div.order__content.card__content
                                div.order__body.card__body.card__body--block
                                    div.order__form.form.form--order
                                        fieldset.form__fieldset
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3
                                                    div.card__header
                                                        b.card__title Выбор приложения
                                                        div.card__text
                                                            p Выберите один из доступных способо оплаты
                                                div.card__col.row__col.col-lg-6
                                                    div.form__group
                                                        label.form__label(for="") Выберите приложение
                                                        label.form__control.form__control--custom-select
                                                            div.form__value
                                                                != pugHelpers.Icon.call(locals, {iconName: 'tinkoff', className: 'form__icon form__icon--tinkoff icon icon--logo'})
                                                                != pugHelpers.Icon.call(locals, {iconName: 'apple', className: 'form__icon form__icon--apple icon icon--apple'})
                                                                | Tinkoff
                                                    div.form__row.row
                                                        div.form__col.row__col.col-sm-6.col-lg-5
                                                            div.form__group
                                                                div.form__check.form__check--radio
                                                                    input.form__raw(id="radio01", type="radio", vale="", name="radio")
                                                                    label.form__label(for="radio01") iPhone/iPad
                                                        div.form__col.row__col.col-sm-6.col-lg-7
                                                            div.form__group
                                                                div.form__check.form__check--radio
                                                                    input.form__raw(id="radio02", type="radio", vale="", name="radio", checked)
                                                                    label.form__label(for="radio02") iPad
                                        fieldset.form__fieldset
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3
                                                    div.card__header
                                                        b.card__title Конфигурация топа
                                                        div.card__text
                                                            p Выберите один из доступных способо оплаты
                                                div.card__col.row__col.col-lg-6
                                                    div.form__row.row
                                                        div.form__col.row__col.col-sm-6.col-lg-5
                                                            div.form__group
                                                                div.form__check.form__check--radio
                                                                    input.form__raw(id="radio03", type="radio", vale="", name="radio", checked)
                                                                    label.form__label(for="radio03") Категории
                                                        div.form__col.row__col.col-sm-6.col-lg-7
                                                            div.form__group
                                                                div.form__check.form__check--radio
                                                                    input.form__raw(id="radio04", type="radio", vale="", name="radio2")
                                                                    label.form__label(for="radio04") Общий
                                                    div.form__group
                                                        label.form__label(for="") Категория
                                                        label.form__control.form__control--custom-select
                                                            div.form__value
                                                                | Финансы
                                        fieldset.form__fieldset
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3
                                                    div.card__header
                                                        b.card__title Позиции
                                                        div.card__text
                                                            p Выберите один из доступных способо оплаты
                                                div.card__col.row__col.col-lg-6
                                                    div.form__group
                                                        label.form__label(for="") Выбор позиции
                                                        label.form__control.form__control--custom-select
                                                            div.form__value
                                                                | Топ 30
                                        fieldset.form__fieldset
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3
                                                    div.card__header
                                                        b.card__title Удержание позиций
                                                        div.card__text
                                                            p Выберите один из доступных способо оплаты
                                                div.card__col.row__col.col-lg-6
                                                    div.form__group
                                                        label.form__label(for="") Использовать свои тексты
                                                        div.form__check.form__check--switch
                                                            input.form__raw(id="switch", type="checkbox", vale="", name="switch", checked)
                                                            label.form__label(for="switch")
                                                    div.form__row.row
                                                        div.form__col.row__col.col-sm-5.col-lg-9.flex.align-items-end
                                                            div.form__group
                                                                div.form__slider(id="formSlider")
                                                        div.form__col.row__col.col-sm-5.col-lg-3
                                                            div.form__group
                                                                label.form__label(for="") Кол-во дней
                                                                input.form__control(type="text", value="4")
                                        fieldset.form__fieldset
                                            div.card__row.row
                                                div.card__col.row__col.col-lg-3
                                                    div.card__header
                                                        b.card__title Трекинговая система
                                                        div.card__text
                                                            p Выберите один из доступных способо оплаты
                                                div.card__col.row__col.col-lg-6
                                                    div.form__group
                                                        label.form__label(for="") Включить трекинговую систему
                                                        div.form__check.form__check--switch
                                                            input.form__raw(id="switch2", type="checkbox", vale="", name="switch2", checked)
                                                            label.form__label(for="switch2")
                                                    div.form__group
                                                        label.form__label(for="") Категория
                                                        label.form__control.form__control--custom-select
                                                            div.form__value
                                                                | AppMetrica
                                    div.order__footer.card__footer
                                        div.form__action
                                            button.btn.btn--primary.btn--block(role="button", title="Отправить на модерацию") Отправить на модерацию
                    // END page main

                // START page footer
                div.page__footer
                    +footer(site.pages.order2)
                // END page footer
            // END page content

        // END page wrapper

        // START page scripts
        +foot(data)
        // END page scripts
