doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/sidebar/sidebar.pug

    head
        +head(site.pages.profile)
    body.page(class="page--" + site.pages.profile.name)
        |%=symbols=%

        // START page wrapper
        div.page__wrapper

            // START page sidebar
            div.page__sidebar
                +sidebar-primary(site.pages.profile, false)
            // END page sidebar

            // START page content
            div.page__content(id="content")
                div.page__header
                    +header(site.pages.profile)
                div.page__container
                    // START page main
                    main.page__main(id="main", role="main")
                        div.profile.card
                            div.profile__content.card__content
                                div.profile__body.card__body.card__body--block
                                    form.form.form--profile(action="")
                                        fieldset.form__fieldset
                                            div.profile__row.row
                                                div.profile__col.row__col.col-lg-3
                                                    div.profile__header
                                                        b.profile__title Контактные данные
                                                        div.profile__text
                                                            p Введите название приложения или вставьте ссылку на него из AppStore или GooglePlay
                                                div.profile__col.row__col.col-lg-6
                                                    div.form__group
                                                        label.form__label Аватар
                                                        div.form__control.form__control--img-add
                                                            div.form__value.is-show
                                                                img.ofi(src="%=static=%img/content/img-01.jpg",
                                                                srcset="%=static=%img/content/img-01.jpg 1x,%=static=%img/content/img-01.jpg 2x,%=static=%img/content/img-01.jpg 3x", width="96px", height="96px", title="Текст")
                                                                button.form__btn.form__btn--remove.btn(role="button", title="Удалить")
                                                                    != pugHelpers.Icon.call(locals, {iconName: 'plus', className: 'btn__icon btn__icon--close icon icon--close'})
                                                            label.form__label(for="fieldImage")
                                                                button.form__btn.form__btn--add.btn.btn--floating.btn--secondary(role="button", type="button")
                                                                    != pugHelpers.Icon.call(locals, {iconName: 'plus', className: 'btn__icon btn__icon--plus'})
                                                                input.form__raw(id="fieldImage", type="file")
                                                    div.form__row
                                                        div.form__col.col-md-6
                                                            div.form__group
                                                                label.form__label(for="profileName") Имя
                                                                input.form__control(id="profileName", type="text", value="Антон")
                                                        div.form__col.col-md-6
                                                            div.form__group
                                                                label.form__label(for="profileName") Фамилия
                                                                input.form__control(id="profileFullname", type="text", value="Авилов")
                                                    div.form__group
                                                        label.form__label(for="profilePhone") Телефон
                                                        input.form__control(id="profilePhone", type="tel", value="+7 967 091 0388")
                                                    div.form__group
                                                        label.form__label(for="profileEmail") E-mail
                                                        input.form__control(id="profileEmail", type="email", value="avilov.design@gmail.com")
                                                    div.form__row
                                                        div.form__col.col-md-6
                                                            div.form__group
                                                                label.form__label(for="profileTelegram") Telegram
                                                                input.form__control(id="profileTelegram", type="text", value="avilov.anton")
                                                        div.row__col.col-md-6
                                                            div.form__group
                                                                label.form__label(for="profileSkype") Skype
                                                                input.form__control(id="profileSkype", type="text", value="avilov.anton")
                                                    div.form__row
                                                        div.form__col.col-md-6
                                                            div.form__group
                                                                label.form__label Подключить
                                                                button.btn.btn--block.btn--vk(role="button", title="Подключить")
                                                                    != pugHelpers.Icon.call(locals, {iconName: 'vk', className: 'btn__icon btn__icon--vk'})
                                                                    | Подключить
                                                        div.form__col.col-md-6
                                                            div.form__group
                                                                label.form__label Skype
                                                                button.btn.btn--block.btn--facebook(role="button", title="Подключить")
                                                                    != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'btn__icon btn__icon--facebook'})
                                                                    | Подключить
                                                    div.form__group
                                                        label.form__label Временная зона
                                                        label.form__control.form__control--custom-select
                                                            span.form__value GMT +3 (Moscow)
                                                            select.form__raw
                                                                option(value="", selected) GMT +3 (Moscow)
                                                                option(value="") GMT +3 (Moscow)
                                                                option(value="") GMT +3 (Moscow)
                                        fieldset.form__fieldset
                                            div.profile__row.row
                                                div.profile__col.row__col.col-lg-3
                                                    div.profile__header
                                                        b.profile__title Смена пароля
                                                        div.profile__text
                                                            p Введите название приложения или вставьте ссылку на него из AppStore или GooglePlay
                                                div.profile__col.row__col.col-lg-6
                                                    div.form__group
                                                        label.form__label Текущий пароль
                                                        input.form__control(type="password", value="123123123123")
                                                    div.form__group
                                                        label.form__label Новый пароль
                                                        input.form__control(type="password", value="")
                                        fieldset.form__fieldset
                                            div.profile__row.row
                                                div.profile__col.row__col.col-lg-3
                                                    div.profile__header
                                                        b.profile__title Реферальная программа
                                                        div.profile__text
                                                            p Введите название приложения или вставьте ссылку на него из AppStore или GooglePlay
                                                div.profile__col.row__col.col-lg-6
                                                    div.form__row
                                                        div.form__col.col-sm
                                                            div.form__group
                                                                input.form__control(type="text", value="www.myappbooster.ru/ref/k8rt56wer8", readonly)
                                                        div.form__col.col-sm-auto
                                                            button.btn(role="button", type="button", title="Копировать") Копировать

                                                    div.statistics.statistics--big-value
                                                        div.row
                                                            div.row__col.col-auto
                                                                div.statistics__content
                                                                    div.statistics__body
                                                                        div.statistics__value 31
                                                                    div.statistics__text Кол-во
                                                                        br
                                                                        | рефералов
                                                            div.row__col.col-auto
                                                                div.statistics__content
                                                                    div.statistics__body
                                                                        div.statistics__value 1920 р.
                                                                    div.statistics__text Кол-во
                                                                        br
                                                                        | от рефералов
                                        div.profile__footer
                                            div.profile__row.row
                                                div.profile__col.row__col.offset-lg-3.col-lg-6
                                                    div.form__action
                                                        button.btn.btn--secondary(role="button", type="button") Сохранить
                                                        button.btn.btn--link(role="button", type="button") Отмена



                    // END page main

                // START page footer
                div.page__footer
                    +footer(site.pages.profile)
                // END page footer
            // END page content

        // END page wrapper

        // START page scripts
        +foot(data)
        // END page scripts
