doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/sidebar/sidebar.pug

    head
        +head(site.pages.index)
    body.page(class="page--" + site.pages.index.name)
        |%=symbols=%

        // START page wrapper
        div.page__wrapper
            //- // START page header
            //- div.page___header
            //-     +header(site.pages.index)
            //- // END page header

            // START page sidebar
            div.page__sidebar
                +sidebar-primary(site.pages.index, 'is-open')
            // END page sidebar

            // START page content
            div.page__content(id="content")
                div.page__container

                    // START page main
                    main.page__main(id="main", role="main")
                    // END page main

            // END page content


            // START page footer
            div.page__footer
                +footer(site.pages.index)
            // END page footer

        // END page wrapper

        // START page scripts
        +foot(data)
        // END page scripts
