.sidebar{
    $_: '.sidebar';
    @include media-breakpoint-up(xl) {
        &--primary{
            flex: 0 0 280px;
            width: 280px;
            #{$_}__logo{
                width: 125px;
            }
            #{$_}__copyright{
                &-part{
                    display: block;
                }
            }
        }
    }
}
