// START siebdar style
.sidebar{
    $_: '.sidebar';;
    display: flex;
    &__content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__header{
        position: relative;
        display: flex;
        padding: $grid-gutter-width/2;
        margin-bottom: 1.25rem;
        width: 100%;
        box-sizing: border-box;
        &::after{
            content: '';
            position: absolute;
            left: $grid-gutter-width/2;
            right: $grid-gutter-width/2;
            bottom: 0;
            display: block;
            height: $border-width;
            background-color: $border-color;
        }
    }
    &__body{
        width: 100%;
    }
    &__footer{
        padding: $grid-gutter-width/2;
        box-sizing: border-box;
        width: 100%;
    }
    &__logo{
        width: 44px;
        transition: width .35s ease-out;
    }
    &__contacts{
        margin-top: auto;
        padding: 1.25rem $grid-gutter-width/2 0;
    }
    &__copyright{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-size: .875rem;
        font-weight: $font-weight-normal;
        &-part{
            &--long{
                display: none;
                margin-left: .25em;
            }
        }
    }
    &.is-open, &:hover{
        #{$_}__logo{
            width: 125px;
        }
        #{$_}__copyright{
            &-part{
                display: block;
            }
        }
    }
    &--primary{
        position: sticky;
        top: 0;
        left: 0;
        overflow: hidden;
        border-right: $border-width solid $border-color;
        width: 90px;
        min-height: 100vh;
        background: $white;
        z-index: 1000;
        transition: width .35s ease-out;
        #{$_}__header{
            justify-content: center;
            align-items: center;
            min-height: 80px;
        }
        #{$_}__footer{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            min-height: 90px;
        }
        &.is-open, &:hover{
            width: 280px;
        }
    }
}

@import '_sidebar-responsive';
// END sidebar style
