mixin sidebar-primary(data, state)
    div.sidebar.sidebar--primary(class=state ? state : '')
        div.sidebar__content
            div.sidebar__header
                div.sidebar__logo
                    if data.name == 'index'
                        div.logo.logo--sidebar
                            img.logo__img(src='%=static=%img/general/' + site.common.logo, width="192px", height="65px", alt=site.common.name)
                    else
                        a.logo.logo--sidebar(href="/", title=site.common.name + ' ' + site.common.slogan)
                            img.logo__img(src='%=static=%img/general/' + site.common.logo, width="192px", height="65px",alt=site.common.name)
            div.sidebar__body
                div.sidebar__nav
                    ul.nav.nav--sidebar
                        if site.nav.primary
                            each item, index in site.nav.primary
                                if item.child
                                    - var childs = item.child;
                                    // - console.log(childs);
                                    li.nav__item.nav__item--dropdown
                                        a.nav__link.nav__link--dropdown-toggle(href='./' + item.value + '.html', title=item.name, class=data.value === item.value ? 'is-active': '')
                                            if item.icon
                                                != pugHelpers.Icon.call(locals, {iconName: item.icon, className: 'nav__icon nav__icon--' + item.icon})
                                            | #{item.name}
                                        ul.nav.nav--sidebar-dropdown
                                            each child, index in childs
                                                li.nav__item
                                                    a.nav__link(href='./' + child.value + '.html', title=child.name, class=data.value === child.value ? 'is-active': '')= child.name
                                else
                                    li.nav__item
                                        a.nav__link(href='./' + item.value + '.html', title=item.name, class=data.value === item.value ? 'is-active': '')
                                            if item.icon
                                                != pugHelpers.Icon.call(locals, {iconName: item.icon, className: 'nav__icon nav__icon--' + item.icon})
                                            | #{item.name}
            div.sidebar__contacts
                div.contacts.contacts--card(class= !state ? 'contacts--short' : '')
                    div.contacts__short
                        != pugHelpers.Icon.call(locals, {iconName: 'speaker', className: 'contacts__icon contacts__icon--short'})
                    div.contacts__content
                        div.contacts__card.card.card--contacts-user
                            div.card__content
                                div.card__header.card__header--block
                                    div.card__media
                                        div.card__img
                                            img.card__img-file.ofi(src="%=static=%img/assets/contacts/user.jpg",
                                            srcset="%=static=%assets/contacts/user.jpg 1x, %=static=%img/assets/contacts/user@2x.jpg 2x, %=static=%img/assets/contacts/user@3x.jpg 3x", width="40px", height="40px", alt="Ваш менеджер - Екатерина Льготина")
                                    div.card__title Ваш менеджер
                                    div.card__text Екатерина Льготина
                                div.card__body.collapse.is-show
                                    div.contacts__body
                                        div.contacts__list
                                            div.contacts__item.contacts__item--icon
                                                != pugHelpers.Icon.call(locals, {iconName: 'phone', className: 'contacts__icon contacts__icon--phone'})
                                                div.contacts__text
                                                    a.contacts__link(href="tel:+79370794936", title="Позвонить") +7 (937) 079-49-36
                                                div.contacts__text
                                                    a.contacts__link(href="tel:+78462030334", title="Позвонить") +7 (846) 203-03-34

                                            div.contacts__item.contacts__item--icon
                                                != pugHelpers.Icon.call(locals, {iconName: 'skype', className: 'contacts__icon contacts__icon--skype'})
                                                div.contacts__text
                                                    a.contacts__link(href="skype:kseniya.appbooster?chat", title="Написать в скайп") kseniya.appbooster

                                            div.contacts__item.contacts__item--icon
                                                != pugHelpers.Icon.call(locals, {iconName: 'mail', className: 'contacts__icon contacts__icon--mail'})
                                                div.contacts__text
                                                    a.contacts__link(href="mailto: ksenia@appbooster.ru", title="Написать письмо") ksenia@appbooster.ru

                                            div.contacts__item.contacts__item--icon
                                                != pugHelpers.Icon.call(locals, {iconName: 'telegram', className: 'contacts__icon contacts__icon--telegram'})
                                                div.contacts__text
                                                    a.contacts__link(href="https://t.me/ksenia_appbooster", title="Написть в Telegram") ksenia_appbooster
                                div.card__footer
                                    a.card__btn.btn.btn--link.btn--fill.is-active(href="#", title="Контакты") Контакты
                                        != pugHelpers.Icon.call(locals, {iconName: 'cheron-light', className: 'btn__icon icon icon--cheron-light icon--top'})

            div.sidebar__footer
                div.sidebar__copyright
                    span.sidebar__copyright-part.sidebar__copyright-part--short
                        | © 2018
                    span.sidebar__copyright-part.sidebar__copyright-part--long
                        | Appbooster
