.page{
    $_: '.page';
    @include media-breakpoint-up(md) {
        &__container{
            @if $grid-gutter-width/2 < 40px {
                padding-left: 40px;
                padding-right: 40px;
            } @else {
                padding-left: $grid-gutter-width/2;
                padding-right: $grid-gutter-width/2;
            }
            width: 100%;
        }
    }
}
