// START common style
.page{
    $_: '.page';
    display: flex;
    min-height: 100vh;
    &__wrapper{
        display: flex;
        width: 100%;
    }
    &__sidebar{
        flex: 0 0 auto;
        min-height: 1px;
        width: auto;
    }
    &__content{
        position: relative;
        flex-basis: 0;
        flex-grow: 1;
        min-height: 1px;
        max-width: 100%;
    }
    &__container{
        @if $grid-gutter-width/2 < 20px {
            padding-left: 20px;
            padding-right: 20px;
        } @else {
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
        }
        width: 100%;
        min-width: 320px;
    }
    &__header{
        margin-bottom: 1.25rem;
    }
}

@import '_common-responsive';
// END common style
