// START footer style
.footer {
    $_: '.footer';
    &__container{
        @extend .page__container;
    }
    &__wrapper{
        padding-top: 1.875rem;
        padding-bottom: 1.25rem;
    }
    &__row{
        margin-left: -.625rem;
        margin-right: -.625rem;
        align-items: center;
    }
    &__col{
        flex: 0 0 auto;
        padding: 0 .625rem .625rem;
        width: auto;
    }
    &__lang{
        margin-right: auto;
    }
    &__nav{
    }
}

@import 'footer-responsive';
// END footer style
