mixin footer(data)
    // START footer
    footer.footer(role="info")
        div.footer__container
            div.footer__wrapper
                div.footer__row.row
                    div.footer__col.row__col.footer__lang
                        // div.lang-switch.dropdown.dropdown--up.is-open add class is-open for open dropdown
                        div.lang-switch.dropdown.dropdown--up
                            div.lang-switch__content
                                div.lang-switch__body
                                    div.lang-switch__text Язык:
                                    != pugHelpers.Icon.call(locals, {iconName: 'flag-ru', className: 'lang-switch__icon lang-switch__icon--flag-ru'})
                                    div.lang-switch__title
                                        | Русский
                                    span.lang-switch__toggle.dropdown__toggle
                                div.dropdown__menu.lang-switch__menu
                                    a.dropdown__item(href="#", title="Русский")
                                        != pugHelpers.Icon.call(locals, {iconName: 'flag-ru', className: 'lang-switch__icon lang-switch__icon--flag-ru'})
                                        | Русский
                                    a.dropdown__item(href="#", title="English")
                                        != pugHelpers.Icon.call(locals, {iconName: 'flag-ru', className: 'lang-switch__icon lang-switch__icon--flag-ru'})
                                        | English

                    if site.nav.secondary
                        div.footer__col.row__col.footer__nav
                            nav.nav.nav--footer
                                each item, index in site.nav.secondary
                                    a.nav__link(href='./' + item.value + '.html', title=item.name, class=data.value === item.value ? 'is-active': '')
                                        if item.icon
                                            != pugHelpers.Icon.call(locals, {iconName: item.icon, className: 'nav__icon nav__icon--' + item.icon})
                                        | #{item.name}
    // END footer
