// START profile style
.profile{
    $_: '.profile';
    &__header{
        margin-bottom: 1.25rem;
    }
    &__footer{
        padding-top: 1.25rem;
    }
    &__title{
        @extend .title;
    }
    &__text{
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

@import '_profile-responsive';
// END profile style
