.header {
    $_: '.header';
    @include media-breakpoint-up(sm) {
        &__col{
            flex: 0 0 auto;
            width: auto;
        }
        &__billing{
            margin-right: auto;
        }
        &__action{
            flex: 0 0 100%;
            width: 100%;
        }
    }
    @include media-breakpoint-up(md) {
        &__row{
            margin-left: -1.25rem;
            margin-right: -1.25rem;
        }
        &__col{
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
        &__action{
            flex: 0 0 auto;
            width: auto;
        }
        &__billing{
            margin-right: 0;
        }
    }
}
