// START header style
.header{
    $_: '.header';
    &__container{
        @extend .page__container;
    }
    &__wrapper{
        border-bottom: $border-width solid $border-color;
        padding-top: 1.25rem;
        padding-bottom: .625rem;
    }
    &__row{
        align-items: center;
        margin-left: -.625rem;
        margin-right: -.625rem;
    }
    &__col{
        padding: 0 .625rem .625rem;
        flex: 0 0 auto;
        width: auto;
    }
    &__action{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-right: auto;
        padding-right: 1.25rem;
    }
    &__billing{
        flex: 0 0 100%;
        width: 100%;
    }
    &__notification{
        flex: 0 0 auto;
        width: auto;
    }
    &__btn{
        margin-right: 1.25rem;
    }
    &__title{
        color: $text-primary;
        font-size: 1.125rem;
        font-weight: $font-weight-normal;
        line-height: 1.5;
    }
    &__icon{
        &--title{
            font-size: 1.75rem;
        }
    }
}

@import 'header-responsive'
// END header style
