mixin header(data)
    // START header
    header.header(role="banner")
        div.header__container
            div.header__wrapper
                div.header__row.row
                    div.header__col.row__col.header__action
                        if data.action
                            button.header__btn.btn.btn--floating.btn--primary(role="button", type="button")
                                != pugHelpers.Icon.call(locals, {iconName: 'plus', className: 'btn__icon btn__icon--plus'})
                        if data.title
                            b.header__title
                                if data.icon
                                    != pugHelpers.Icon.call(locals, {iconName: data.icon, className: 'header__icon header__icon--title icon icon--' + data.icon})
                                | #{data.title}

                    div.header__col.row__col.header__billing
                        div.billing.billing--header
                            div.billing__content
                                div.billing__body
                                    div.billing__title Баланс: 45 000
                                    div.billing__text В холде: 3 500
                                div.billing__action
                                    a.btn.btn--outline(href="./billing.html", role="button") Пополнить
                    div.header__col.row__col.header__notification
                        div.notification.notification--header
                            div.notification__cobtent
                                div.notification__media.is-active
                                    div.notification__img
                                        != pugHelpers.Icon.call(locals, {iconName: 'notification', className: 'notification__img-icon'})

                    div.header__col.row__col.header__user
                        // div.user.user--header.dropdown.is-open add class is-open for open dropdown
                        div.user.user--header.dropdown.is-open
                            div.user__content
                                div.user__body
                                    div.user__media
                                        div.user__img
                                            img.user__img-file.ofi(src="%=static=%img/assets/user/user-01.jpg",
                                            srcset="%=static=%assets/user/user-01.jpg 1x, %=static=%img/assets/user/user-01@2x.jpg 2x, %=static=%img/assets/user/user-01@3x.jpg 3x", width="30px", height="30px", alt="Константин")
                                    div.user__text
                                        | Привет,
                                        b.user__name  Константин
                                        span.user__toggle.dropdown__toggle
                            div.user__menu.dropdown__menu.dropdown__menu--right
                                a.dropdown__item(href="./profile.html", title="Профиль")
                                    != pugHelpers.Icon.call(locals, {iconName: 'profile', className: 'dropdown__icon dropdown__icon--profile'})
                                    | Профиль
                                a.dropdown__item(href="#", title="Уведомления")
                                    != pugHelpers.Icon.call(locals, {iconName: 'settings', className: 'dropdown__icon dropdown__icon--settings'})
                                    | Уведомления
                                div.dropdown__divider
                                a.dropdown__item(href="#", title="Выйти")
                                    != pugHelpers.Icon.call(locals, {iconName: 'exit', className: 'dropdown__icon dropdown__icon--exit'})
                                    | Выйти
    // END header
