.order{
    $_: '.order';
    @include media-breakpoint-up(lg) {
        &__calc{
            pointer-events: none;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            display: flex;
            flex-direction: row;
            margin: 0;
            & > .row{
                flex-basis: 0;
                flex-grow: 1;
                min-width: 100%;
            }
            &-wrap{
                pointer-events: all;
                position: sticky;
                top: 20px;
                left: 0;
                margin-right: -20px;
                margin-left: -10px;
                border-radius: $card-border-radius;
                box-shadow: 0 15px 30px rgba($blue-dark, .1);
            }
        }
    }
}
