// SATRT statistics style
.statistics{
    $_: '.statistics';
    &__body{
        margin-bottom: 1.25rem;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__value{
        display: block;
        color: $blue;
        &--empty{
            &::before{
                content: '';
                display: inline-block;
                margin-bottom: .28em;
                vertical-align: middle;
                height: $border-width;
                width: .4em;
                min-width: .625rem;
                background: $text-secondary;
            }
        }
    }
    &__text, &__label{
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__link{
        color: inherit;
        &--add{
            color: $link-color;
        }
    }
    &__difference{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        &::before{
            content: '';
            display: block;
            margin-top: .5em;
            margin-right: .5em;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 5px solid $success;
        }
        &--down{
            &::before{
                border-top: 5px solid $danger;
                border-bottom: 0;
            }
        }
    }
    &__icon{
        &--star{
            color: $warning;
        }
    }
    &--big-value{
        #{$_}__row{
            margin-left: -.625rem;
            margin-right: -.625rem;
        }
        #{$_}__col{
            padding-left: .625rem;
            padding-right: .625rem;
            flex-basis: 0;
            flex-grow: 1;
            width: 100%;
        }
        #{$_}__body{
            margin: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        #{$_}__value{
            flex: 0 0 auto;
            color: $text-primary;
            font-size: 3.125rem;
            font-weight: $font-weight-light;
            line-height: 1.1;
            width: auto;
            max-width: 100%;
        }
        #{$_}__difference{
            margin-left: .625rem;
            padding-top: .875rem;
            flex: 0 0 auto;
            flex-direction: column;
            &::before{
                margin: 0;
                margin-bottom: .3125rem;
            }
        }
        #{$_}__text{
            position: relative;
            margin-top: -.5rem;
            flex: 0 0 100%;
            width: 100%;
        }
    }
    &--list{
        #{$_}__row{
            margin-left: -.625rem;
            margin-right: -.625rem;
        }
        #{$_}__col{
            padding-left: .625rem;
            padding-right: .625rem;
            flex-basis: 0;
            flex-grow: 1;
            width: 100%;
        }
        #{$_}__item{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        #{$_}__label{
            padding-right: .625rem;
            min-width: 90px;
            box-sizing: border-box;
        }
        #{$_}__value{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-basis: 0;
            flex-grow: 1;
            width: 100%;
            &-item{
                margin-right: .625rem;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        #{$_}__icon{
            display: inline-block;
            vertical-align: top;
            font-size: 1.25rem;
        }
    }
}

@import '_statistics-responsive';
// END statistics style
