.app{
    $_: '.app';
    @include media-breakpoint-up(sm) {
        &__row{
            &--header{
                #{$_}__col{
                    flex-basis: 0;
                    flex-grow: 1;
                    min-height: 1px;
                    width: 100%;
                }
            }
        }
        &__card{
            &--app-form{
                #{$_}__content{
                    padding-bottom: 3.125rem;
                }
                #{$_}__body,
                #{$_}__form{
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 350px;
                }
            }
        }
    }
    @include media-breakpoint-up(md) {
        &__card{
            flex-direction: row;
        }
        &__content{
            padding: 2.5rem 1.25rem 2.5rem 2.5rem;
        }
        &__action{
            display: flex;
            margin-right: -$border-width;
            flex: 0 0 50px;
            max-width: 50px;
            width: 100%;
            &:last-child{
                margin-top: -$border-width;
                margin-left: 0;
                margin-right: -$border-width;
                margin-bottom: -$border-width;
            }
        }
        &__meta{
            &--store{
                position: absolute;
                top: auto;
                right: auto;
                left: 2.5rem;
                bottom: -$border-width;
                @include border-bottom-radius(0);
                @include border-top-radius($border-radius);
                padding: .154em .615em;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        &__card{
            &--app-form{
                #{$_}__content{
                    display: flex;
                    flex-direction: row;
                    margin: 0;
                }
                #{$_}__divider{
                    display: block;
                }
                #{$_}__body{
                    margin-bottom: 0;
                }
                #{$_}__form{
                    align-self: center;
                }
            }
        }
        &__content{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-left: -.625rem;
            margin-right: -.625rem;
        }
        &__header,
        &__body{
            position: relative;
            flex-basis: 0;
            flex-grow: 1;
            padding-left: .625rem;
            padding-right: .625rem;
            min-height: 1px;
            width: 100%;
        }
        &--grid{
            #{$_}__card{
                &--app-form{
                    #{$_}__content{
                        display: block;
                    }
                    #{$_}__divider{
                        display: block;
                    }
                    #{$_}__body{
                        margin-bottom: 1.875rem;
                    }
                    #{$_}__form{
                        align-self: center;
                    }
                }
            }
        }
    }
    @include media-breakpoint-up(xll) {
        &--grid{
            #{$_}__col{
                @include make-col(6);
            }
            #{$_}__content{
                flex-wrap: wrap;
            }
            #{$_}__header,
            #{$_}__body{
                flex: 0 0 100%;
                width: 100%;
                max-width: none;
            }
        }
    }
}
