// START app style
.app{
    $_: '.app';
    &__row{
        &--header{
            margin: 0 -.625rem;
            #{$_}__col{
                padding: 0 .625rem 1.25rem;
            }
        }
    }
    &__col{
        display: flex;
        padding-bottom: $grid-gutter-width;
    }
    &__card{
        @extend .card;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        min-width: 100%;
        &--app-form{
            border-style: dashed;
            border-color: rgba($blue-dark, .7);
            flex-direction: row;
            text-align: center;
            #{$_}__content{
                padding: 3.125rem 1.25rem 1.25rem;
            }
            #{$_}__body{
                padding: 0;
                margin-bottom: 1.875rem;
            }
            #{$_}__title{
                margin-bottom: 1rem;
            }
            #{$_}__body{
                margin-bottom: 1.875rem;
            }
            #{$_}__divider{
                display: none;
                margin-right: $grid-gutter-width/2;
                margin-left: $grid-gutter-width/2;
                min-height: 1px;
                width: $border-width;
                background: $border-color;
            }
        }
    }
    &__content{
        padding: 1.25rem;
        flex-basis: 0;
        flex-grow: 1;
        width: 100%;
        max-width: 100%;
    }
    &__action{
        display: flex;
        &:last-child{
            margin-left: -$border-width;
            margin-right: -$border-width;
            margin-bottom: -$border-width;
        }
    }
    &__title{
        display: block;
        margin-bottom: .5rem;
        color: $text-primary;
        font-size: 1rem;
        font-weight: $font-weight-bold;
        line-height: 1.1;
    }
    &__text{
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__media{
        position: relative;
        margin-right: 1.5625rem;
        height: 64px;
        width: 64px;
    }
    &__img{
        border-radius: .875rem;
        &-file{
            display: block;
            border-radius: .875rem;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            font-family: 'object-fit: cover; object-position: 50% 50%;';
        }
    }
    &__icon{
        &--platform{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &__link{
        color: inherit;
    }
    &__meta{
        &--store{
            position: absolute;
            top: -$border-width;
            right: 1.25rem;
            @include border-bottom-radius($border-radius);
            padding: .154em .615em;
            color: $primary;
            font-size: .8125rem;
            font-weight: $font-weight-normal;
            line-height: 1.1;
            background: rgba($primary, .07);
            a{
                &, &:hover{
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
        &--platform{
            position: absolute;
            top: -.32em;
            right: -.32em;
            font-size: 1.5625rem;
            border-radius: 1em;
            padding: .1em;
            height: 1em;
            width: 1em;
            background: $white;
        }
    }
    &__about{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: 200px;
        width: 100%;
    }
    &__statistics{
        &--main{
            width: 100%;
        }
    }
}

@import '_app-responsive';
// END app style
