// START style btn group
.btn-group{
    $_: '.btn-group';
    @include media-breakpoint-up(md) {
        &--app-action{
            flex-direction: column;
            #{$_}__item{
                width: 100%;
                & + #{$_}__item{
                    margin-top: -$btn-border-width;
                    margin-left: 0;
                }
                &:first-child{
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }
                // Reset rounded corners
                &:not(:last-child) {
                    @include border-bottom-radius(0);
                }
                &:not(:first-child) {
                    @include border-top-radius(0);
                }
            }
        }
    }
}
// END style btn group
