// START btn style
.btn {
    $_: '.btn';
    display: inline-block;
    border: $btn-border-width solid $border-color;
    color: $text-primary;
    font-weight: $btn-font-weight;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    line-height: $input-btn-line-height;
    min-width: 40px;
    background: $white;
    // box-shadow: 0 3px 7px rgba($black, .15);
    @include button-size($btn-padding-y, $btn-padding-x, 1rem, $btn-line-height, $btn-border-radius);
    @include transition($btn-transition); // Share hover and focus styles
    @include hover-focus {
        text-decoration: none;
    }
    &:focus,
    &.is-focus {
        outline: 0;
    }
    // Disabled comes first so active can properly restyle
    &.is-disabled,
    &:disabled {
        opacity: $btn-disabled-opacity;
        @include box-shadow(none);
    }
    // Opinionated: add "hand" cursor to non-disabled .btn elements
    &:not(:disabled):not(.is-disabled) {
        cursor: pointer;
    }
    &:not(:disabled):not(.is-disabled):active,
    &:not(:disabled):not(.is-disabled).is-active {
        background-image: none;
    }

    &:hover, &.is-hover,
    &.is-focus, &:focus,
    &.is-active{
        border-color: rgba($blue-dark, .5);
        #{$_}__icon{
            color: $text-primary;
            filter: drop-shadow(0 3px 7px rgba($text-primary, .3));
        }
    }

    &__icon{
        @extend .icon;
        vertical-align: middle;
        margin-top: -.25rem;
        margin-bottom: -.125rem;
        color: $text-secondary;
        font-size: 1.5em;
        @include transition();
        &--single{
            margin-left: -.75rem;
            margin-right: -.75rem;
        }
    }
    // Alternate buttons
    &--primary{
        color: $text-primary-light;
        box-shadow: 0 3px 7px rgba($primary, .3);
        background: rgba($primary, .9);
        #{$_}__icon{
            color: inherit;
        }
        &:hover, &.is-hover,
        &.is-focus, &:focus{
            border-color: $primary;
            color: $text-primary-light;
            background: $primary;
            #{$_}__icon{
                color: inherit;
                filter: none;
            }
        }
    }
    &--secondary{
        color: $text-primary-light;
        box-shadow: 0 3px 7px rgba($secondary, .3);
        background: rgba($secondary, .9);
        #{$_}__icon{
            color: inherit;
        }
        &:hover, &.is-hover,
        &.is-focus, &:focus{
            color: $text-primary-light;
            background: $secondary;
            #{$_}__icon{
                filter: none;
            }
        }
    }
    &--outline{
        border-color: $border-color;
        color: $text-primary;
        background: transparent;
        &:hover, &.is-hover,
        &.is-focus, &:focus,
        &.is-active{
            color: $text-primary;
            background: $white;
            #{$_}__icon{
                color: inherit;
                filter: none;
            }
        }
    }

    &--icon{
        border-radius: 50%;
        padding: $input-btn-padding-y;
        background: transparent;
        min-width: 1px;
    }

    // social
    &--facebook{
        color: $text-primary-light;
        box-shadow: 0 3px 7px rgba($facebook, .3);
        background: rgba($facebook, .9);
        #{$_}__icon{
            color: inherit;
        }
        &:hover, &.is-hover,
        &.is-focus, &:focus{
            color: $text-primary-light;
            background: $facebook;
            #{$_}__icon{
                filter: none;
            }
        }
    }
    &--vk{
        color: $text-primary-light;
        box-shadow: 0 3px 7px rgba($vk, .3);
        background: rgba($vk, .9);
        #{$_}__icon{
            color: inherit;
        }
        &:hover, &.is-hover,
        &.is-focus, &:focus{
            color: $text-primary-light;
            background: $vk;
            #{$_}__icon{
                filter: none;
            }
        }
    }

    // type buttons
    &--block{
        display: block;
        text-align: center;
        width: 100%;
        & + #{$_}--block{
            margin-left: .25em;
        }
    }
    &--fill{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 0;
    }
    &--short{
        padding-left: .4375rem;
        padding-right: .4375rem;
    }
    &--floating{
        border-radius: 40px;
        padding-left: .4375rem;
        padding-right: .4375rem;
        width: 40px;
        height: 40px;
    }
    &--app-control{
        &:hover, &.is-hover,
        &.is-focus, &:focus,
        &.is-active{
            border-color: $border-color;
            #{$_}__icon{
                color: $primary;
                filter: drop-shadow(0 3px 7px rgba($primary, .3));
            }
        }

    }

    // Link buttons
    &--link{
        border-color: transparent;
        color: $link-color;
        font-weight: $font-weight-normal;
        background-color: transparent;

        @include hover {
            border-color: transparent;
            color: $link-hover-color;
            text-decoration: $link-hover-decoration;
            background-color: transparent;
        }

        &:focus,
        &.is-focus,
        &.is-active {
            border-color: transparent;
            color: $link-hover-color;
            text-decoration: $link-hover-decoration;
            background-color: transparent;
        }

        &:disabled,
        &.is-disabled {
            color: $btn-link-disabled-color;
            pointer-events: none;
        }
        // No need for an active state here
    }

}

// Future-proof disabling of clicks on `<a>` elements
a.btn.is-disabled,
fieldset:disabled a.btn{
    pointer-events: none;
}
// END btn style
