// START style btn group
.btn-group{
    $_: '.btn-group';
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    &__item{
        position: relative;
        flex: 0 1 auto;
        // Bring the hover, focused, and "active" buttons to the front to overlay
        // the borders properly
        @include hover {
            z-index: 1;
        }
        &:focus,
        &:active,
        &.is-active {
            z-index: 1;
        }
    }
    &--inline{
        #{$_}__item{
            &:first-child{
                margin-left: 0;
            }
            & + #{$_}__item{
                margin-left: -$btn-border-width;
            }
            // Reset rounded corners
            &:not(:last-child) {
                @include border-right-radius(0);
            }
            &:not(:first-child) {
                @include border-left-radius(0);
            }
        }
    }
    &--vertical{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        #{$_}__item{
            width: 100%;
            & + #{$_}__item{
                margin-top: -$btn-border-width;
            }
            // Reset rounded corners
            &:not(:last-child) {
                @include border-bottom-radius(0);
            }
            &:not(:first-child) {
                @include border-top-radius(0);
            }
        }
    }
    &--action{
        display: flex;
        flex: 0 0 100%;
        width: 100%;
        #{$_}__item{
            flex-basis: 0;
            flex-grow: 1;
            width: 100%;
            max-width: none;
        }
    }
    &--app-action{
        @extend #{$_}--action;
        @extend #{$_}--inline;
        #{$_}__item{
            @include border-top-radius(0);
        }
    }
}

@import '_btn-group-responsive';
// END style btn group
