// START card style
.card{
    $_: '.card';

    @include media-breakpoint-up(lg) {
        &--lg{
            #{$_}__footer{
                padding-top: 2.5rem;
            }
            #{$_}__body{
                &--block{
                    padding: 2.5rem;
                }
            }
        }
        &--calc{
            #{$_}__header{
                margin-bottom: 0;
            }
            #{$_}__footer{
                padding-top: .5rem;
            }
        }
    }
}
// END card style
