// START card style
.card{
    $_: '.card';
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $card-bg;
    background-clip: border-box;
    border: $card-border-width solid $card-border-color;
    @include border-radius($card-border-radius);
    &__header{
        &--block{
            padding: $card-spacer-x;
        }
    }
    &__body{
        flex: 1 1 auto;
        &--block{
            padding: $card-spacer-x;
        }
    }
    &__footer{
        &--block{
            padding: $card-spacer-x;
        }
    }
    &__media{
        position: relative;
    }
    &__img{
        &-file{
            display: block;
            max-width: 100%;
        }
    }
    &__title{
        display: block;
        margin-bottom: $card-spacer-y;
        color: $text-primary;
        font-size: 1rem;
        font-weight: $font-weight-bold;
        line-height: 1.1;
        &:last-child{
            margin-bottom: 0;
        }
        &--subtitle{
            margin-top: -($card-spacer-y / 2);
            margin-bottom: 0;
            font-size: .875rem;
        }
    }
    &__text{
        p {
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__link{
        @include hover {
            text-decoration: none;
        }
    }
    &__btn{
        &--fill{
            color: $text-primary;
            font-size: .875rem;
            font-weight: $font-weight-normal;
            background: transparent;
        }
    }
    &__pagination{
        .pagination{
            margin: 0;
        }
    }
    &--contacts-user{
        #{$_}__header{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        #{$_}__media{
            margin-top: -41px;
            margin-bottom: 1.125rem;
            height: 40px;
            width: 40px;
        }
        #{$_}__img{
            &-file{
                display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 0 50%;
                font-family: 'object-fit: cover; object-position: 0 50%;'; // for object fit images js polifill
            }
        }
        #{$_}__title{
            margin-bottom: .3125rem;
        }
        #{$_}__body{
            padding: 0;
        }
        #{$_}__footer{
            border-top: $border-width solid $border-color;
        }
    }
    &--calc{
        margin: 0;
        #{$_}__text,
        #{$_}__header,
        #{$_}__footer{
            padding: .5rem 1.5rem;
        }
        #{$_}__body{
            &.collapse.is-show{
                border-bottom: $border-width solid $border-color;
            }
        }
        #{$_}__text{
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        #{$_}__header{
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            padding-top: 1.5rem;
        }
        #{$_}__footer{
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
        #{$_}__row{
            margin: 0 -10px 6px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        #{$_}__col{
            padding-left: 10px;
            padding-right: 10px;
        }
        #{$_}__title{
            margin-bottom: 0;
        }
        #{$_}__icon{
            margin-left: auto;
            color: $text-primary;
            font-size: 1.5rem;
        }
    }
    &--lg{
        #{$_}__header{
            margin-bottom: 1.25rem;
        }
        #{$_}__footer{
            padding-top: 1.25rem;
        }
        #{$_}__title{
            @extend .title;
        }
        #{$_}__text{
            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}

@import '_card-responsive';
// END card style
