// START collapse style
.collapse{
    $_: '.collapse';
    &:not(.is-show){
        display: none;
    }
}
.collapsing{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
    @include transition($transition-collapse);
}

// END collapse style
