@import 'react-datepicker/src/stylesheets/datepicker';

.react-datepicker{
    $_: '.react-datepicker';
    padding: .3125rem;
    box-shadow: $dropdown-box-shadow;
    &__navigation{
        top: 10px;
        border: 0;
        @extend .icon;
        width: $datepicker__navigation-size;
        height: $datepicker__navigation-size;
        background: svg-load('../../../static/img/svg/chevron.svg', fill=$text-primary) no-repeat 50% 50%;
        background-size: $datepicker__navigation-size;
        opacity: .5;
        @include hover-focus{
            opacity: 1;
        }
        &--next{
            transform: rotate(180deg);
        }
    }
    &__current-month,
    &__header{
        padding: 0;
        font-weight: normal;
        font-size: $font-size-base;
    }
    &__current-month{
        line-height: $datepicker__item-size;
    }
    &__day{
        &--outside-month{
            color: $datepicker__muted-color;
        }
    }
}
