// START dropdown style
.dropdown{
    $_: '.dropdown';
    position: relative;
    &.is-open{
        #{$_}__menu{
            display: block;
        }
        #{$_}__toggle{
            transform: rotate(90deg);
        }
    }
    &--up{
        #{$_}__menu{
            top: auto;
            bottom: 100%;
            margin: 0 0 $dropdown-spacer;
            &::before{
                top: auto;
                bottom: -10px;
            }
        }
    }
    &__toggle{
        margin-left: .25em;
        content: '';
        @extend .icon;
        background: svg-load('../../../static/img/svg/cheron-light.svg', fill=$text-primary) no-repeat 50% 50%;
        background-size: 1.5em;
        opacity: .5;
        transform: rotate(-90deg);
    }
    &__menu{
        display: none; // none by default, but block on "open" of the menu
        float: left;
        position: absolute;
        top: 100%;
        left: 0;
        border: $dropdown-border-width solid $dropdown-border-color;
        @include border-radius($dropdown-border-radius);
        padding: $dropdown-padding-y $dropdown-padding-x;
        margin: $dropdown-spacer 0 0; // override default ul
        font-size: $font-size-base; // Redeclare because nesting can cause inheritance issues
        color: $body-color;
        text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
        list-style: none;
        min-width: $dropdown-min-width;
        background-color: $dropdown-bg;
        background-clip: padding-box;
        box-shadow: $dropdown-box-shadow;
        z-index: $zindex-dropdown;
        &::before{
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translate(-50%, 0) rotate(45deg);
            content: '';
            display: block;
            overflow: hidden;
            width: 20px;
            height: 20px;
            background: $dropdown-bg;
        }
        &--right{
            right: 0;
            left: auto;
        }
    }
    &__item{
        clear: both;
        display: flex;
        border: 0; // For `<button>`s
        padding: $dropdown-item-padding-y $dropdown-item-padding-x;
        font-size: 1rem;
        font-weight: $font-weight-bold;
        color: $dropdown-link-color;
        text-align: inherit; // For `<button>`s
        white-space: nowrap; // prevent links from randomly breaking onto new lines
        line-height: 1.5;
        background-color: transparent; // For `<button>`s
        width: 100%; // For `<button>`s
        @include hover-focus {
            color: $dropdown-link-hover-color;
            text-decoration: none;
            #{$_}__icon{
                color: $primary;
            }
        }
        &.is-active,
        &:active {
            color: $dropdown-link-hover-color;
            text-decoration: none;
            #{$_}__icon{
                color: $primary;
            }
        }

        &.is-disabled,
        &:disabled {
            color: $dropdown-link-disabled-color;
            background-color: transparent;
        }
    }
    &__icon{
        @extend .icon;
        margin-right: 1rem;
        color: rgba($text-primary, .5);
        font-size: 1.5em;
    }
    &__divider{
        margin-top: .3125rem;
        margin-bottom: .3125rem;
        height: $border-width;
        width: 100%;
        background: $dropdown-divider-bg;
    }
}
// END dropdown style
