@import './node_modules/rc-slider/dist/rc-slider';

.rc-slider{
    padding-top: $input-btn-padding-y + ($input-btn-line-height * 1rem)/2 + .0625rem;
    padding-bottom: $input-btn-padding-y + ($input-btn-line-height * 1rem)/2 + .0625rem;
    &-rail{
        height: $border-width;
        background: rgba($text-primary, .2);
    }
    &-track{
        height: $border-width;
        background: $text-primary;
    }
    &-step{
        height: $border-width;
    }
    &-handle{
        border-color: $text-primary;
        margin-left: -5px;
        height: 11px;
        width: 11px;
        background: $text-primary;
        box-shadow: 0 0 0 0 rgba($text-primary, .05);
        transition: $input-transition;
        &:hover, &:focus, &:active,
        &:hover:focus{
            border-color: $text-primary;
            box-shadow: 0 0 0 6px rgba($text-primary, .05);
            background: $text-primary;
        }

    }
}
