// START form style
.form{
    $_: '.form';
    &__row{
        display: flex;
        flex-wrap: wrap;
        margin-right: -10px;
        margin-left: -10px;
    }
    &__col{
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 20px;
    }
    &__icon{
        &--text{
            position: relative;
            margin-top: -.15em;
            color: rgba($text-primary, .3);
            font-size: 1.325em;
        }
    }
    &__group{
        min-width: 100%;
        & + #{$_}__group,
        & + #{$_}__row{
            margin-top: $form-group-margin-bottom;
        }
        &--inline{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            #{$_}__label{
                padding-right: .9375rem;
                color: rgba($blue-dark, .5);
            }
        }
    }
    &__raw{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        opacity: 0;
        z-index: 100;
    }
    &__label{
        color: $text-secondary;
        &--col{
            padding-top: calc(#{$input-padding-y} + #{$input-border-width});
            padding-bottom: calc(#{$input-padding-y} + #{$input-border-width});
            margin-bottom: 0; // Override the `<label>/<legend>` default
            font-size: 1rem; // Override the `<legend>` default
            line-height: $input-line-height;
        }
    }
    &__control{
        display: block;
        border-radius: $input-border-radius;
        padding: $input-padding-y $input-padding-x;
        font-size: $font-size-base;
        line-height: $input-line-height;
        color: $input-color;
        font-size: 1rem;
        width: 100%;
        background-color: $input-bg;
        background-clip: padding-box;
        border: $input-border-width solid $input-border-color;
        @include transition($input-transition);

        // Unstyle the caret on `<select>`s in IE10+.
        &::-ms-expand {
            background-color: transparent;
            border: 0;
        }
        &:focus{
            outline: none;
            box-shadow: $input-box-shadow;
        }

        // Placeholder
        &::placeholder {
            color: $input-placeholder-color;
            // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
            opacity: 1;
        }

        // Disabled and read-only inputs
        //
        // HTML5 says that controls under a fieldset > legend:first-child won't be
        // disabled if the fieldset is disabled. Due to implementation difficulty, we
        // don't honor that edge case; we style them as disabled anyway.
        &:disabled,
        &[readonly] {
            border-color: $border-color;
            color: $input-placeholder-color;
            background: rgba($blue-dark, .07);
            // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
            opacity: 1;
        }
        &--date{
            padding-right: 2.5rem;
            background: svg-load('../../../static/img/svg/сalendar.svg', fill=$input-color) no-repeat right 10px center $input-bg;
            background-size: 1.5rem;
        }
        &--custom-select{
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-right: 2.5rem;
            margin: 0;
            background: svg-load('../../../static/img/svg/cheron-light-down.svg', fill=$input-color) no-repeat right 10px center $input-bg;
            background-size: 1.5rem;
            #{$_}__item{
                display: flex;
                flex-wrap: wrap;
                margin-right: 1rem;
                &:last-child{
                    margin-right: 0;
                }
            }
            #{$_}__label,
            #{$_}__value{
                pointer-events: none;
                user-select: none;
            }
            #{$_}__label{
                color: $text-secondary;
                margin-right: .25rem;
            }
            #{$_}__value{
                display: flex;
                flex-wrap: nowrap;
            }
            #{$_}__icon{
                display: flex;
                margin-right: .625rem;
                color: rgba($text-primary, .7);
                font-size: 1.5em;
            }
        }
        &--img-add{
            position: relative;
            padding: 0;
            border: 0;
            width: 6rem;
            height: 6rem;
            #{$_}__label,
            #{$_}__value{
                display: none;
                justify-content: center;
                align-items: center;
                border-radius: $input-border-radius;
                width: 100%;
                height: 100%;
                &.is-show{
                    display: flex;
                }
            }
            #{$_}__label{
                cursor: pointer;
                margin: 0;
                border: $border-width dashed rgba($blue-dark, .5);
            }
            #{$_}__value{
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    flex: 0 0 100%;
                    max-width: none;
                    object-fit: cover;
                    object-position: 50% 50%;
                    font-family: 'object-fit: cover; object-position: 50% 50%;';
                }
            }
            #{$_}__btn{
                &--remove{
                    position: absolute;
                    top: .5rem;
                    right: .5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    color: $text-primary-light;
                    font-size: .75rem;
                    height: 1.25rem;
                    width: 1.25rem;
                    min-width: 1.25rem;
                    background: rgba($black, .7);
                    .btn__icon{
                        color: inherit;
                    }
                }
                &--add{
                    pointer-events: none;
                }
            }
        }
    }
    &__slider{
        display: block;
        flex: 0 0 100%;
        width: 100%;
    }
    &__check{
        #{$_}__raw{
            position: absolute;
            z-index: -1;
            opacity: 0;
            &:checked ~ #{$_}__label{
                position: relative;
                &::before{
                    background: $blue;
                }
                &::after{
                    background: svg-load('../../../static/img/svg/check.svg', fill=$text-primary-light) ;
                }
            }
        }
        #{$_}__label{
            position: relative;
            padding-left: 1.875rem;
            &::before,
            &::after{
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                display: block;
                height: 1.25rem;
                width: 1.25rem;
            }
            &::before{
                border-radius: $border-radius;
                background: rgba($blue, .1);
            }
        }
        &--radio{
            #{$_}__raw{
                & ~ #{$_}__label{
                    &::before,
                    &::after{
                        border-radius: .625rem;
                    }
                    &::after{
                        top: .3125rem;
                        left: .3125rem;
                        height: .625rem;
                        width: .625rem;
                    }
                }
                &:checked ~ #{$_}__label{
                    &::after{
                        background: $text-primary-light;
                    }
                }
            }
        }
        &--switch{
            #{$_}__raw{
                &:checked ~ #{$_}__label{
                    &::before{
                        background: $blue;
                    }
                    &::after{
                        left: 1.5rem;
                        background: $text-primary-light;
                    }
                }
            }
            #{$_}__label{
                cursor: pointer;
                padding-left: 3.9375rem;
                min-height: 1.75rem;
                &::before,
                &::after{
                    transition: all .25s ease-in-out;
                }
                &::before{
                    border-radius: 1.75rem;
                    height: 1.75rem;
                    width: 3rem;
                }
                &::after{
                    left: 4px;
                    top: 4px;
                    border-radius: 1.25rem;
                    height: 1.25rem;
                    width: 1.25rem;
                    background: $text-primary-light;
                }
            }
        }
        &--button{
            width: 100%;
            #{$_}__label{
                padding: 0;
                width: 100%;
                text-align: center;
                &:last-child{
                    margin-bottom: 0;
                }
                &::before, &::after{
                    content: none;
                }
            }
            #{$_}__control{
                cursor: pointer;
                color: $text-secondary;
                @include hover-focus{
                    color: $text-primary-light;
                    box-shadow: 0 3px 7px rgba($blue, 0.3);
                    background: $secondary;
                    & ~ #{$_}__text{
                        color: $text-primary;
                    }
                }
            }
            #{$_}__raw{
                position: absolute;
                z-index: -1;
                opacity: 0;
                &:checked ~ #{$_}__label{
                    #{$_}__control{
                        color: $text-primary-light;
                        box-shadow: 0 3px 7px rgba($blue, 0.3);
                        background: $secondary;
                    }
                }
            }
            #{$_}__media{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                height: 50px;
                max-width: 150px;
            }
            #{$_}__img{
                position: relative;
                width: 100%;
                height: 100%;
                &:before{
                    display: block;
                    content: '';
                    padding-bottom: 33.34%;
                }
                svg, img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    stroke-width: 0;
                    stroke: currentColor;
                    fill: currentColor;
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            #{$_}__icon{
                font-size: 38px;
            }
            #{$_}__text{
                margin-top: .5rem;
            }
        }
    }
    &__fieldset{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        border-bottom: $border-width solid $border-color;
        &:first-child{
            padding-top: 0;
        }
        &:last-child{
            padding-bottom: 0;
            border-bottom: 0;
        }
    }

    &--filter-app{
        #{$_}__col{
            &--os{
                margin-right: auto;
            }
        }
    }
    &--app-add{
        #{$_}__divider{
            display: none;
        }
        #{$_}__col{
            flex-basis: 0;
            flex-grow: 1;
            padding-bottom: 1.25rem;
            max-width: none;
            text-align: left;
            width: 100%;
            &:last-child{
                flex: 0 0 auto;
                width: auto;
            }
        }
        #{$_}__group{
            min-width: 200px;
        }
    }
}

select.form__control{
    &:not([size]):not([multiple]) {
        padding-right: 1.875rem;
        height: $input-height;
        vertical-align: middle;
        background: svg-load('../../../static/img/svg/cheron-light-down.svg') no-repeat right .5rem center $input-bg;
        background-size: 1.25rem;
        appearance: none;
    }
    &:focus::-ms-value {
        // Suppress the nested default white text on blue background highlight given to
        // the selected option text when the (still closed) <select> receives focus
        // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
        // match the appearance of the native widget.
        // See https://github.com/twbs/bootstrap/issues/19398.
        color: $input-color;
        background-color: $input-bg;
    }
}

@import '_form-responsive';
// END form style

