// START form style
.form{
    $_: '.form';
    @include media-breakpoint-up(sm) {
        &--app-add{
            #{$_}__row{
                flex-wrap: nowrap;
            }
            #{$_}__col{
                padding-bottom: 0;
            }
        }
    }
    @include media-breakpoint-up(md) {
        &__check{
            &--button{
                #{$_}__control{
                    padding: .875rem 1.875rem;
                }
                #{$_}__icon{
                    font-size: 55px;
                }
            }
        }
    }
    @include media-breakpoint-up(lg) {
        &__group{
            & + #{$_}__group,
            & + #{$_}__row{
                margin-top: $grid-gutter-width;
            }
        }
        &--profile{
            #{$_}__header{
                padding-top: .125rem;
            }
            #{$_}__col{
                padding-left: $grid-gutter-width/2;
                padding-right: $grid-gutter-width/2;
                padding-bottom: $grid-gutter-width;
            }
        }
    }
}
// END form style
