// START grid style]
.row{
    $_: '.grid';
    @include make-row();
    &__col{
        @include make-col-ready();
        &--auto{
            flex: 0 0 auto;
            width: auto;
            max-width: none;
        }
    }
    &--no-gutter{
        margin-right: 0;
        margin-left: 0;
        > .col,
        > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

// Columns
//
// Common styles for small and large grid columns
@if $enable-grid-classes {
    @include make-grid-columns();
}

@import '_grid-responsive';
