// START logo style
.logo{
    $_: '.logo';
    display: block;
    background: transparent;
    &:hover{
        &, &:focus{
            outline: none !important;
            text-decoration: none;
        }
    }
    &__img{
        display: block;
        max-width: 100%;
    }
    &--sidebar{
        overflow: hidden;
        width: 100%;
        #{$_}__img{
            height: 25px;
            width: 125px;
            max-width: none;
        }
    }
}
// END logo style
