// START nav style
.nav{
    $_: '.nav';
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    &__item{
        position: relative;
        #{$_}{
            display: none;
        }

        &.is-open{
            background: $body-bg;
            & > #{$_}{
                display: flex;
            }
            & > #{$_}__link{
                @extend #{$_}__link.is-active;
                &::after{
                    transform: rotate(90deg);
                    opacity: 1;
                }
            }
        }
    }
    &__icon{
        @extend .icon;
        font-size: 2em;
    }
    &__link{
        position: relative;
        display: block;
        padding: $nav-link-padding-y $nav-link-padding-x;
        &::before{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            content: '';
            display: none;
            width: 2*$border-width;
            height: 100%;
            background: $primary;
        }
        &.is-active{
            color: $text-primary;
            #{$_}__icon{
                color: $primary;
                opacity: 1;
            }
            &::before{
                display: block;
            }
        }
        @include hover-focus {
            text-decoration: none;
            @extend #{$_}__link.is-active;
        }
        // Disabled state lightens text
        &.is-disabled {
            color: $nav-link-disabled-color;
        }
        &--dropdown-toggle{
            &::after{
                content: '';
                margin-left: .25em;
                @extend .icon;
                background: svg-load('../../../static/img/svg/chevron.svg', fill=$text-primary) no-repeat 50% 50%;
                background-size: 1.5em;
                opacity: .5;
                transform: rotate(-90deg);
            }
        }
    }
    &--sidebar{
        flex-direction: column;
        font-size: 1rem;
        #{$_}__item{
            width: 100%;
        }
        #{$_}__dropdown-nav{
            position: absolute;
            top: 100%;
            left: 5.625rem;
        }
        #{$_}__link{
            padding: .6875rem .625rem .6875rem 5.625rem;
            color: $text-secondary;
            font-weight: $font-weight-bold;
            white-space: nowrap;
            &.is-active{
                background: $body-bg;
            }
        }
        #{$_}__icon{
            position: absolute;
            top: .5625rem;
            left: 1.8125rem;
            display: block;
            opacity: .6;
        }
    }
    &--sidebar-dropdown{
        font-size: .875rem;
        font-weight: $font-weight-normal;
    }
    &--footer{
        flex-direction: row;
        font-size: $font-weight-base;
        font-weight: $font-weight-bold;
        #{$_}__link{
            padding: 0;
            margin-right: 1.875rem;
            color: $text-primary;
            @include hover-focus {
                color: $link-hover-color;
                text-decoration: none;
            }
            &.is-active{
                color: $link-hover-color;
            }
            &::before{
                content: none;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}


@import '_nav-responsive';
// END nav style
