// STAR notification style
.notification{
    $_: '.notification';
    &--header{
        #{$_}__img{
            &-icon{
                @extend .icon;
                display: block;
            }
        }
        #{$_}__media{
            position: relative;
            color: $text-secondary;
            font-size: 1.5rem;
            width: 1em;
            height: 1em;
            &::before{
                position: absolute;
                top: 0;
                right: .167em;
                content: '';
                display: block;
                border-radius: 50%;
                height: .375em;
                width: .375em;
                border: 2px solid $white;
                background-color: $primary;
                box-shadow: 0 2px 5px rgba($primary, 0.2);
            }
            &.is-active{
            }
        }
    }
}
// END notification style
