// START pagination
.pagination{
    $_: '.pagination';
    display: flex;
    text-align: center;
    @include list-unstyled();
    @include border-radius();
    &__link{
        position: relative;
        display: block;
        border: $pagination-border-width solid $pagination-border-color;
        padding: $pagination-padding-y $pagination-padding-x;
        margin-left: -$pagination-border-width;
        line-height: $pagination-line-height;
        color: $pagination-color;
        min-width: 2.5rem;
        background-color: $pagination-bg;
        @include hover-focus{
            color: $pagination-color;
        }
    }
    &__item{
        &:first-child {
            #{$_}__link {
                margin-left: 0;
                @include border-left-radius($border-radius);
            }
        }
        &:last-child {
            #{$_}__link {
                @include border-right-radius($border-radius);
            }
        }

        &.is-active #{$_}__link {
          z-index: 1;
          color: $pagination-active-color;
          background-color: $pagination-active-bg;
          border-color: $pagination-active-border-color;
        }

        &.is-disabled #{$_}__link {
          color: $pagination-disabled-color;
          pointer-events: none;
          // Opinionated: remove the "hand" cursor set previously for .page-link
          cursor: auto;
          background-color: $pagination-disabled-bg;
          border-color: $pagination-disabled-border-color;
        }
    }
}
// END pagination
