// START table style
.table{
    $_: '.table';
    margin-bottom: $spacer;
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer;
    background-color: $table-bg; // Reset for nesting within parents with `background-color`.
    &__head{
        color: $table-head-color;
        font-weight: $font-weight-normal;
        #{$_}__col{
            vertical-align: bottom;
        }
    }
    &__body{
        color: $text-primary;
        #{$_}__row{
            &:nth-of-type(#{$table-striped-order}) {
                background-color: $table-accent-bg;
            }
        }
        & + #{$_}__body{
            border-top: (2 * $table-border-width) solid $table-border-color;
        }
    }
    &__col{
        padding: $table-cell-padding;
        vertical-align: top;
        border-bottom: $table-border-width solid $table-border-color;
    }
    #{$_}{
        background-color: $body-bg;
    }
}

@import '_table-responsive';
// END table style
