// START type style
// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//
.title,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
    margin-bottom: $headings-margin-bottom;
    color: $headings-color;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
}
.title{
    font-size: 1.125rem;
}



//
// Text
//

// Alignment
.text{
    $_: '.text';
    &--justify{
        text-align: justify !important;
    }
    &--nowrap{
        white-space: nowrap !important;
    }
    &--truncate{
        @include text-truncate;
    }

    &--lowercase{text-transform: lowercase !important;}
    &--uppercase{text-transform: uppercase !important;}
    &--capitalize{text-transform: capitalize !important;}

    &--weight-light{font-weight: $font-weight-light !important;}
    &--weight-normal{font-weight: $font-weight-normal !important;}
    &--weight-bold{font-weight: $font-weight-bold !important;}

    &--body{color: $body-color}
    &--primary-color{color: $primary}
    &--secondary-color{color: $secondary}
    &--primary{color: $text-primary}
    &--secondary{color: $text-secondary}

    &--danger{color: $danger}
    &--success{color: $success}

}


// END type style
