// START user style
.user{
    $_: '.user';
    &__body{
        display: flex;
        flex-direction: row;
    }
    &__media{
        position: relative;
    }
    &__img{
        &-file{
            display: block;
            max-width: 100%;
        }
    }
    &__name{
        font-weight: $font-weight-bold;
    }
    &__menu{
        margin-top: 2.25rem;
    }
    &__toggle{
        opacity: 1;
    }
    &--header{
        #{$_}__body{
            flex-wrap: nowrap;
            align-items: center;
        }
        #{$_}__text{
            padding-left: 1.2rem;
            color: $text-primary;
        }
        #{$_}__media{
            width: 40px;
            height: 40px;
        }
        #{$_}__img{
            border: 2px solid $primary;
            padding: 3px;
            border-radius: 50%;
            background: $white;
            &-file{
                display: block;
                border-radius: 50%;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 0 50%;
                font-family: 'object-fit: cover; object-position: 0 50%;'; // for object fit images js polifill
            }
        }
    }
}

@import '_user-responsive';
// END user style
