.contacts{
    $_: '.contacts';
    @include media-breakpoint-up(xl) {
        &--short{
            #{$_}__short{
                display: none;
            }
            #{$_}__content{
                display: block;
            }
        }
    }
}
