// START contacts style
.contacts{
    $_: '.contacts';
    &__item{
        position: relative;
        margin-bottom: .625rem;
        &:last-child{
            margin-bottom: 0;
        }
        &--icon{
            padding-left: 1.875rem;
        }
    }
    &__icon{
        @extend .icon;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        color: rgba($text-primary, .3);
        font-size: 1.25rem;
    }
    &--card{
        #{$_}__short{
            display: none;
        }
        #{$_}__body{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: $card-spacer-x;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
                display: block;
                width: 20px;
                height: $border-width;
                background: $border-color;
            }
        }
        #{$_}__text{
            color: $text-primary;
            font-size: .875rem;
            font-weight: $font-weight-normal;
        }
        #{$_}__link{
            color: $text-primary;
            @include hover-focus {
                color: inherit;
                text-decoration: none;
            }
        }
    }
    &--short{
        .sidebar:hover & {
            #{$_}__short{
                display: none;
            }
            #{$_}__content{
                display: block;
            }
        }
        #{$_}__short{
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 2rem;
        }
        #{$_}__icon{
            position: relative;
        }
        #{$_}__content{
            display: none;
        }
    }
}

@import '_contacts-responsive';
// END contacts style
