// START billing style
.billing{
    $_: '.billing';
    &--header{
        #{$_}__content{
            display: flex;
            flex-direction: row;
        }
        #{$_}__body{
            flex-basis: 0;
            flex-grow: 1;
        }
        #{$_}__action{
            padding-left: 2.5rem;
            .btn{
                vertical-align: top;
            }
        }
        #{$_}__title{
            display: block;
            margin-bottom: .5rem;
            color: $text-primary;
            font-size: 1rem;
            font-weight: $font-weight-normal;
            line-height: 1.1;
        }
        #{$_}__text{
            font-size: .875rem;
            line-height: 1.1;
        }
    }
}
// END billing style
