mixin head(data)
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title=data.title + ' - ' + site.common.name
    meta(content=data.description ? data.description : '', name="description")
    meta(content="", name="keywords")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(content="telephone=no", name="format-detection")
    //- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers
    meta(name="HandheldFriendly", content="true")
    |<!--[if IE 8 ]><link href="%=static=%css/main_ie8%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
    |<!--[if IE 9 ]><link href="%=static=%css/main_ie9%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
    |<!--[if (gt IE 9)|!(IE)]><!--><link href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><!--<![endif]-->

    if data.useSocialMetaTags
        meta(property="og:title", content=data.title + ' - ' + site.common.name)
        meta(property="og:url", content="")
        meta(property="og:description", content=data.description ? data.description : '')
        meta(property="og:image", content="")
        meta(property="og:image:type", content="image/jpeg")
        meta(property="og:image:width", content="500")
        meta(property="og:image:height", content="300")
        meta(property="twitter:description", content=data.title + ' - ' + site.common.name)
        link(rel="image_src", href="")

    link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png")
    link(rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16")
    meta(name="application-name" content=site.common.name)
    meta(name="msapplication-TileColor" content="#FFFFFF")
    meta(name="msapplication-TileImage" content="/favicons/mstile-144x144.png")
    link(rel="icon" type="image/x-icon" href="favicon.svg")
    script.
        (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
    |<!--[if lt IE 9 ]><script src="%=static=%js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar"><![endif]-->
