// START lang-switch style
.lang-switch{
    $_: '.lang-switch';
    position: relative;
    font-size: .875rem;
    font-weight: $font-weight-normal;
    line-height: 1.75;
    &__content{}
    &__body{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    #{$_}__text{
        margin-right: .25rem;
        color: $text-secondary;
    }
    #{$_}__title{
        color: $text-primary;
        font-weight: $font-weight-normal;
    }
    #{$_}__icon{
        display: block;
        margin-right: .5rem;
    }
    #{$_}__toggle{
        opacity: 1;
    }
}
// END lang-switch style
